# Part 3 - ETL & MySQL Database (Revisited) v2

- **02/10/23**


<blockquote class="alert alert-info" style="font-size:1.8rem; line-height:1.3em;">
<p>⭐️ <strong>Revisiting to normalize more tables for Tableau Dashboard.</strong></p>
<ul>
<li>There are 2 new sections to this notebook/workflow<ol>
<li><a href="#new" rel="nofollow">Click here</a> for cleaning and normalizing "production_companies" and "belongs_to_collection" columns from TMDB API.</li>
<li><a href="#new2" rel="nofollow">Click here</a> for saving the new tables to MySQL DB</li>
<li><a href="#new-imdb" rel="nofollow">Click here</a> for saving the new title_crew, title_principals, and name_basics tables from imdb.</li>
</ol>
</li>
</ul>
</blockquote>

<hr>

## Introduction

Your stakeholder wants you to take the data you have been cleaning and collecting in Parts 1 &amp; 2 of the project, and wants you to create a MySQL database for them.
<p>You should normalize the tables as best you can before adding them to your new database.</p>
<ul>
<li>Note: an important exception to their request is that they would like you to keep all of the data from the TMDB API in 1 table together (even though it will not be perfectly normalized).&nbsp;&nbsp;</li><li>You only need to keep the imdb_id, revenue, budget, and certification columns</li>
</ul>
</li>
</ul>
<h4>Required Transformation steps:</h4>
<ul>
<li>
<p><strong>Normalize Genre:</strong></p>
<ul>
<li>Convert the single string of genres from title basics into 2 new tables.
<ol>
<li>
<p><code>title_genres</code>:  with the columns:</p>
<ul>
<li>tconst</li>
<li>genre_id</li>
</ul>
</li>
<li>
<p><code>genres</code>:</p>
<ul>
<li>genre_id</li>
<li>genre_name</li>
</ul>
</li>
</ol>
</li>
</ul>
</li>
<li>
<p><strong>Discard unnecessary information:</strong></p>
<ul>
<li>For the <code>title basics</code> table, drop the following columns:
<ul>
<li>"original_title" (we will use the primary title column instead)</li>
<li>"isAdult" ("Adult" will show up in the genres so this is redundant information).</li>
<li>"titleType" (every row will be a movie).</li>
<li>"genres" and other variants of genre (genre is now represented in the 2 new tables described above.</li>
</ul>
</li>
<li>Do not include the <code>title_akas</code> table in your SQL database.
<ul>
<li>You have already filtered out the desired movies using this table and the remaining data is mostly nulls and not of-interest to the stakeholder.</li>
</ul>
</li>
</ul>
</li>
</ul>
<h4>MySQL Database Requirements</h4>
<ul>
<li>
<p>Use sqlalchemy with pandas to execute your SQL queries inside your notebook.</p>
</li>
<li>
<p>Create a new database on your MySQL server and  call it "movies".</p>
</li>
<li>
<p>Make sure to have the following tables in your "movies" database:</p>
<ul>
<li><code>title_basics</code></li>
<li><code>title_ratings</code></li>
<li><code>title_genres</code></li>
<li><code>genres</code></li>
<li><code>tmdb_data</code></li>
</ul>
</li>
<li>
<p>Make sure to set a Primary Key for each table.</p>
</li>
<li>
<p>After creating each table, show the first 5 rows of that table using a SQL query.</p>
</li>
<li>
<p>Make sure to run the "SHOW TABLES" SQL query at the end of your notebook to show that all required tables have been created.</p></li>
</ul>

## Updated Code/Functions

- Added more streamlined way to add new tables to database.
- Added setting the DB_NAME to avoid overwriting previous databases.

<div class="alert alert-danger">
    <blockquote style="font-weight:bold;"> Note: update the <code>DB_NAME</code> variable immediately below this cell to change the name of the exported database.</blockquote>
</div>

In [1]:
# VAR FOR CHANGING MYSQL DB NAME TO AVOID OVERWRITING PREVIOUS
DB_NAME = "movies-db"

In [2]:
def get_schema(table,debug=False):
    ## save pandas dtypes in list, make empty dict
    dtypes = table.dtypes
    schema = {}
    
    # for each column
    for col in dtypes.index:
        ## print info if in debug mode
        if debug:
            print(f"{col} = {dtypes.loc[col]}")

        ## if its a string column (object)
        if dtypes.loc[col]=='object':
            
            ## Fill null values and make sure whole column is str
            data = table[col].fillna('').astype(str)
            
            ## get len first
            len_str = data.map(len).max()
            
            ## if the string is shorter than 21845 use String
            # (forget how i knew it was max size)
            if len_str < 21845:
                schema[col] = String( len_str + 1)
                
            ## If longer use Text
            else:
                schema[col] = Text(len_str+1)
        
        # if float make Float
        elif dtypes.loc[col] == 'float':
            schema[col] = Float()

        ## if int make Integer
        elif dtypes.loc[col] == 'int':
            schema[col] = Integer()#Float()#
            
        ## if bool make Boolean
        elif dtypes.loc[col] == 'bool':
            schema[col] = Boolean()
            
    return schema

# Original Project Part 3

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os,json
import missingno as ms

plt.rcParams['figure.facecolor'] = 'white'

pd.set_option('display.max_columns',100)

In [4]:
## Folder to save IMDB files
FOLDER = "Data/"
# os.makedirs(FOLDER,exist_ok=True)
sorted(os.listdir(FOLDER))

['.DS_Store',
 '.ipynb_checkpoints',
 'For Tableau',
 'combined_tmdb_api_data.csv.gz',
 'final_tmdb_data_2000.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 'final_tmdb_data_2002.csv.gz',
 'final_tmdb_data_2003.csv.gz',
 'final_tmdb_data_2004.csv.gz',
 'final_tmdb_data_2005.csv.gz',
 'final_tmdb_data_2006.csv.gz',
 'final_tmdb_data_2007.csv.gz',
 'final_tmdb_data_2008.csv.gz',
 'final_tmdb_data_2009.csv.gz',
 'final_tmdb_data_2010.csv.gz',
 'final_tmdb_data_2011.csv.gz',
 'final_tmdb_data_2012.csv.gz',
 'final_tmdb_data_2013.csv.gz',
 'final_tmdb_data_2014.csv.gz',
 'final_tmdb_data_2015.csv.gz',
 'final_tmdb_data_2016.csv.gz',
 'final_tmdb_data_2017.csv.gz',
 'final_tmdb_data_2018.csv.gz',
 'final_tmdb_data_2019.csv.gz',
 'final_tmdb_data_2020.csv.gz',
 'final_tmdb_data_2021.csv.gz',
 'final_tmdb_data_2022.csv.gz',
 'final_tmdb_data_2023.csv.gz',
 'final_tmdb_data_2024.csv.gz',
 'modeling',
 'name_basics.csv.gz',
 'processed-nlp-data.joblib',
 'testing-data-tf',
 'title_akas_cleaned.csv.gz',
 'title_basics_cleaned.csv.gz',
 'title_crew.csv.gz',
 'title_principals.csv.gz',
 'title_ratings_cleaned.csv.gz',
 'tmdb_api_results_2000.json',
 'training-data-tf']

## Extract: Loading Previous Data

### Title Basics

In [5]:
## title basics
basics = pd.read_csv(f'{FOLDER}title_basics_cleaned.csv.gz',low_memory=False)
basics.info()
basics.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128875 entries, 0 to 128874
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          128875 non-null  object
 1   titleType       128875 non-null  object
 2   primaryTitle    128875 non-null  object
 3   originalTitle   128875 non-null  object
 4   isAdult         128875 non-null  int64
 5   startYear       128875 non-null  float64
 6   runtimeMinutes  128875 non-null  int64
 7   genres          128875 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 7.9+ MB

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,122,Drama
3,tt0070596,movie,Socialist Realism,El realismo socialista,0,2023.0,78,Drama
4,tt0082328,movie,Embodiment of Evil,Encarnação do Demônio,0,2008.0,94,Horror

### Title Ratings

In [6]:
## title ratings
ratings = pd.read_csv(f"{FOLDER}/title_ratings_cleaned.csv.gz",low_memory=False)
ratings.info()
ratings.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98163 entries, 0 to 98162
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         98163 non-null  object
 1   averageRating  98163 non-null  float64
 2   numVotes       98163 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 2.2+ MB

      tconst  averageRating  numVotes
0  tt0035423            6.4     88417
1  tt0062336            6.4       185
2  tt0069049            6.7      7939
3  tt0070596            7.5        52
4  tt0082328            5.9      1765

### TMDB API Results

- Students should have combined the years 2000 and 2001 as part of Part 2. I forgot to do so so I am doing here

In [7]:
import json
from pprint import pprint

with open("config/filepaths.json") as f:
    FPATHS = json.load(f)
pprint(FPATHS['data'])

{'app': {'movie-data_csv': 'app-assets/movie-data-streamlit.csv'},
 'ml-nlp': {'reviews-with-target_json': 'Data-NLP/modeling/processed-nlp-reviews-for-ml.json',
            'test_joblib': 'Data-NLP/modeling/testing-data.joblib',
            'train_joblib': 'Data-NLP/modeling/training-data.joblib'},
 'ml-tabular': {'movie-info-with-ml-target_json': 'Data/modeling/processed-movie-data-for-ml.json',
                'test_joblib': 'Data/modeling/testing-data.joblib',
                'train_joblib': 'Data/modeling/training-data.joblib'},
 'nn': {'test_dir': 'Data/modeling/testing-data-tf/',
        'train_dir': 'Data/modeling/training-data-tf/'},
 'raw': {'cleaned-tmdb-movie-info-tmdb_csv': 'Data-NLP/tmdb-movie-info.csv.gz',
         'combined-tmdb-movie-data_csv': 'Data/combined_tmdb_api_data.csv.gz',
         'movie-reviews-tmdb_csv': 'Data-NLP/tmdb-movie-reviews.csv.gz',
         'processed-reviews-spacy_joblib': 'Data-NLP/processed-nlp-reviews.joblib',
         'processed-reviews-spacy_json': 'Data-NLP/processed-nlp-reviews.json',
         'reviews-with-movie-info_json': 'Data-NLP/combined-tmdb-movie-reviews-with-info.json'}}

In [8]:
# # ## INSTRUCTOR CODE (not taught to students)
# # import glob
# # q = f"{FOLDER}final*.csv.gz"
# # files = glob.glob(q)
# df = pd.read_csv('Data/combined_tmdb_api_data.csv.gz')
# # files

In [9]:
fpath_movie_info = FPATHS['data']['raw']['cleaned-tmdb-movie-info-tmdb_csv']

In [10]:
df = pd.read_csv(fpath_movie_info, low_memory=False, lineterminator='\n')
df

,belongs_to_collection,budget,id,imdb_id,original_language,original_title,overview,popularity,release_date,revenue,runtime,status,tagline,title,video,vote_average,vote_count,certification,Release Year,genre_names,production_companies_names,collection_name,production_countries_iso,production_countries_name,spoken_language_iso,poster_path,adult,backdrop_path,homepage
0,False,10000000,62127,tt0113026,en,The Fantasticks,Two rural teens sing and dance their way throu...,2.559,2000-09-22,0,86,Released,Try to remember the first time magic happened,The Fantasticks,False,5.500,22,NaN,2000.0,Comedy; Music; Romance,Sullivan Street Productions; Michael Ritchie P...,NaN,US,United States of America,en,/hfO64mXz3DgUxkBVU7no2UWRP7x.jpg,False,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN
1,False,0,110977,tt0113092,en,For the Cause,Earth is in a state of constant war and two co...,3.393,2000-11-15,0,100,Released,The ultimate showdown on a forbidden planet.,For the Cause,False,4.958,12,NaN,2000.0,Science Fiction,Dimension Films; Grand Design Entertainment; M...,NaN,US,United States of America,en,/h9bWO13nWRGZJo4XVPiElXyrRMU.jpg,False,NaN,NaN
2,False,0,442869,tt0116391,hi,Gang,"After falling prey to underworld, four friends...",2.748,2000-04-14,0,165,Released,NaN,Gang,False,5.000,2,NaN,2000.0,Drama; Action; Crime,NaN,NaN,IN,India,hi,/dYcuiiBDpPUvCcPbiWdH4REjGn3.jpg,False,/krEZg9tb6blhc7sV6Us2ZGQ0gA.jpg,NaN
3,False,150000,843,tt0118694,cn,花樣年華,Two neighbors become intimate after discoverin...,27.940,2000-09-29,14204632,99,Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,False,8.109,2433,PG,2000.0,Drama; Romance,Block 2 Pictures; Orly Films; Jet Tone Films; ...,NaN,FR; HK; NL; CN,France; Hong Kong; Netherlands; China,cn; fr; es,/iYypPT4bhqXfq1b6EnmxvRt6b2Y.jpg,False,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN
4,False,0,49511,tt0118852,en,Chinese Coffee,"When Harry Levine, an aging, unsuccessful Gree...",5.495,2000-09-02,0,99,Released,There's a fine line between friendship and bet...,Chinese Coffee,False,6.600,56,R,2000.0,Drama,Chal Productions; The Shooting Gallery,NaN,US,United States of America,en,/nZGWnSuf1FIuzyEuMRZHHZWViAp.jpg,False,/vceiGZ3uavAEHlTA7v0GjQsGVKe.jpg,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93054,False,0,1167732,tt8736506,en,To Die Alone,After suffering a terrible injury while hiking...,5.474,2024-02-10,0,84,In Production,NaN,To Die Alone,False,0.000,0,NR,2024.0,Thriller; Drama,Glass Creek Films; Charming Stranger Films,NaN,US,United States of America,en,/d7rHwkRlCHhVGBTQQkvGALeC5oz.jpg,False,/dyQvD0BDlWk187fDBmJTU2uUVGH.jpg,https://www.todiealonefilm.com
93055,False,0,560016,tt9214772,en,Monkey Man,An unlikely hero emerges from prison to take o...,7.925,2024-01-22,0,0,Post Production,NaN,Monkey Man,False,0.000,0,NaN,2024.0,Thriller; Drama,Thunder Road; 87Eleven; Bron Studios; Creative...,NaN,CA; US,Canada; United States of America,en; hi,NaN,False,NaN,NaN
93056,False,0,1163894,tt9357860,en,The Hopeful,Aboard a steamship sailing across the Atlantic...,2.594,2024-02-14,0,90,Post Production,The end of the world is just the beginning.,The Hopeful,False,0.000,0,NaN,2024.0,Drama,Advent Hope Productions; Hope Studios; Kyle Po...,NaN,CA,Canada,en,/9zRA1Vefx1gJdt6fKPDt4JJ6FGC.jpg,False,NaN,NaN
93057,False,0,1184693,tt9680562,mr,सत्यशोधक,The film follows the life of social reformer a...,4.889,2024-01-05,0,145,Released,HE BRINGS THE TORCH OF REVOLUTION TO ENLIGHTEN...,Satyashodhak,False,0.000,0,NaN,2024.0,Drama; History,Samata Films; Abhita Films Production Pvt. Ltd...,NaN,IN,India,mr,/jzQPp0oSYPgu8crP3aq8EIjQ6Ti.jpg,False,/C28T7GAlCJQFWVDB4vUV8eZyf9.jpg,NaN
93058,False,15000000,1072342,tt9682428,en,Night Swim,Forced into early retirement by a degenerative...,168.637,2024-01-03,30600000,98,Released,Everything you fear is under the surface.,Night Swim,False,5.095,41,PG-13,2024.0,Horror; Thriller,Atomic Monster; Blumhouse Productions,NaN,US,United States of America,en,/gSkfBGdxdialBMM7P02V4hcI6Ij.jpg,False,/klb3yODwKMRle19EcvdeSatEZL7.jpg,https://www.nightswim.movie

In [11]:
(df['imdb_id']!='0').all()

True

In [12]:
# ## Dropping Placeholder rows with id=0
# df = df.loc[ df['imdb_id']!='0']
# df

In [13]:
# df = df.reset_index(drop=True)
# df

## Transform

### basics

- normalize and separate genre
- "original_title" (we will use the primary title column instead)
- "isAdult" ("Adult" will show up in the genres so this is redundant information).
- "titleType" (every row will be a movie).
- "genres" and other variants of genre (genre is now represented in the 2 new tables described above.

In [14]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128875 entries, 0 to 128874
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          128875 non-null  object
 1   titleType       128875 non-null  object
 2   primaryTitle    128875 non-null  object
 3   originalTitle   128875 non-null  object
 4   isAdult         128875 non-null  int64
 5   startYear       128875 non-null  float64
 6   runtimeMinutes  128875 non-null  int64
 7   genres          128875 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 7.9+ MB

In [15]:
cols_to_drop = ['originalTitle','isAdult','titleType'] #endYear not req'd
basics = basics.drop(columns=cols_to_drop)
basics

,tconst,primaryTitle,startYear,runtimeMinutes,genres
0,tt0035423,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance"
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,70,Drama
2,tt0069049,The Other Side of the Wind,2018.0,122,Drama
3,tt0070596,Socialist Realism,2023.0,78,Drama
4,tt0082328,Embodiment of Evil,2008.0,94,Horror
...,...,...,...,...,...
128870,tt9915436,Vida em Movimento,2019.0,70,Documentary
128871,tt9915872,The Last White Witch,2019.0,97,"Comedy,Drama,Fantasy"
128872,tt9916170,The Rehearsal,2019.0,51,Drama
128873,tt9916190,Safeguard,2020.0,95,"Action,Adventure,Thriller"
128874,tt9916362,Coven,2020.0,92,"Drama,History"

### Normalizing Genre

In [16]:
## Fill Missing Genres 
## Create a new column with the single-string genres as a list of strings
basics['genres_split'] = basics['genres'].str.split(',')
basics

,tconst,primaryTitle,startYear,runtimeMinutes,genres,genres_split
0,tt0035423,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,70,Drama,[Drama]
2,tt0069049,The Other Side of the Wind,2018.0,122,Drama,[Drama]
3,tt0070596,Socialist Realism,2023.0,78,Drama,[Drama]
4,tt0082328,Embodiment of Evil,2008.0,94,Horror,[Horror]
...,...,...,...,...,...,...
128870,tt9915436,Vida em Movimento,2019.0,70,Documentary,[Documentary]
128871,tt9915872,The Last White Witch,2019.0,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
128872,tt9916170,The Rehearsal,2019.0,51,Drama,[Drama]
128873,tt9916190,Safeguard,2020.0,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
128874,tt9916362,Coven,2020.0,92,"Drama,History","[Drama, History]"

In [17]:
## Explode the dataframe to make each genre into a separate row
exploded_genres = basics.explode('genres_split')
exploded_genres

,tconst,primaryTitle,startYear,runtimeMinutes,genres,genres_split
0,tt0035423,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,70,Drama,Drama
2,tt0069049,The Other Side of the Wind,2018.0,122,Drama,Drama
...,...,...,...,...,...,...
128873,tt9916190,Safeguard,2020.0,95,"Action,Adventure,Thriller",Action
128873,tt9916190,Safeguard,2020.0,95,"Action,Adventure,Thriller",Adventure
128873,tt9916190,Safeguard,2020.0,95,"Action,Adventure,Thriller",Thriller
128874,tt9916362,Coven,2020.0,92,"Drama,History",Drama
128874,tt9916362,Coven,2020.0,92,"Drama,History",History

#### Create title_genres Table - title_genres
tconst: GenreID

In [18]:
## Save just tconst and genres_split as new df
title_genres = exploded_genres[['tconst','genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

#### Replacing Text Genres with Integer IDs

In [19]:
## Getting unique list of genres
unique_genres = sorted(title_genres['genres_split'].unique())
unique_genres

['Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western']

In [20]:
## Make a dictionary with list of unique genres as the key and the new iteger id as vlaues
genre_id_map = dict(zip(unique_genres, range(len(unique_genres))))
genre_id_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Documentary': 7,
 'Drama': 8,
 'Family': 9,
 'Fantasy': 10,
 'Game-Show': 11,
 'History': 12,
 'Horror': 13,
 'Music': 14,
 'Musical': 15,
 'Mystery': 16,
 'News': 17,
 'Reality-TV': 18,
 'Romance': 19,
 'Sci-Fi': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

#### Replacing Values in title_genres Table with Genre ID

In [21]:
## Use .map or .replace with our genre_id_map dictionary
title_genres['Genre_ID'] = title_genres['genres_split'].replace(genre_id_map)

## Drop the original genre column
title_genres.drop(columns=['genres_split'],inplace=True)
title_genres

           tconst  Genre_ID
0       tt0035423         5
0       tt0035423        10
0       tt0035423        19
1       tt0062336         8
2       tt0069049         8
...           ...       ...
128873  tt9916190         0
128873  tt9916190         2
128873  tt9916190        23
128874  tt9916362         8
128874  tt9916362        12

[229260 rows x 2 columns]

#### Create `genres` table
- Genre : Genre_ID

In [22]:
## Manaully make dataframe with named cols from the .keyd and .values
genre_lookup = pd.DataFrame({'Genre_Name': genre_id_map.keys(),
                             'Genre_ID':genre_id_map.values()})
genre_lookup.head()

  Genre_Name  Genre_ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [23]:
## Dropping original genre columns 
basics = basics.drop(columns=['genres','genres_split'])
basics

,tconst,primaryTitle,startYear,runtimeMinutes
0,tt0035423,Kate & Leopold,2001.0,118
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,70
2,tt0069049,The Other Side of the Wind,2018.0,122
3,tt0070596,Socialist Realism,2023.0,78
4,tt0082328,Embodiment of Evil,2008.0,94
...,...,...,...,...
128870,tt9915436,Vida em Movimento,2019.0,70
128871,tt9915872,The Last White Witch,2019.0,97
128872,tt9916170,The Rehearsal,2019.0,51
128873,tt9916190,Safeguard,2020.0,95
128874,tt9916362,Coven,2020.0,92




#   ⭐️ **[NEW] Normalizing More TMDB API Data**
<a id="new"></a>

In [24]:
# df

## ⭐️Clean & Normalize Production Companies


#### Handling `production_companies` column
- Each entry in the column is a string-version of a list of dictionaries. 
    - For each row, we need to save just the `name` key of every company from the list of dictionaries as a list of names.
        - There may be multiple companies for each movie, just like the genre column. 
    - We will then split/normalize the companies just like we did with genres.
    
- Tips: 
    - 1) You should make a function that takes 1 cell from the 'production_companies' at a time and return a list of every "name" from the list of dictionaries. 
    
    - 2) To deal with null values, try using replacing the null values with a string-version of an empty list.
```
df['production_companies] = df['production_companies].fillna('[]')
```

In [25]:
# slicing out a test entry
test = df.iloc[3]['production_companies_names']
test

'Block 2 Pictures; Orly Films; Jet Tone Films; Paradis Films; Fortissimo Films'

In [26]:
# ## Function to get just the genre names as a list 
# import json
# def get_company_name(x):
#     try:
#         x = x.replace('None','"None"')
#         x = x.replace('\\','')
        
#         x = x.replace("'s",'s')
#         for key in ['id','logo_path','name','origin_country']:
#             x = x.replace(f"'{key}'",f'"{key}"')
            
#         x = x.replace("'",'"')
        
#         x = json.loads(x)

#         companies = []
#         for company in x:
#             companies.append(company['name'])
#         return companies
#     except:
#         print(x)

In [27]:
# # testing the function
# get_company_name(test)

In [28]:
## Apply/map function to entire column 
df['production_company_list'] = df['production_companies_names'].str.split(";") #'#fillna('[]').apply(get_company_name)
df['production_company_list']

0        [Sullivan Street Productions,  Michael Ritchie...
1        [Dimension Films,  Grand Design Entertainment,...
2                                                      NaN
3        [Block 2 Pictures,  Orly Films,  Jet Tone Film...
4                [Chal Productions,  The Shooting Gallery]
                               ...
93054        [Glass Creek Films,  Charming Stranger Films]
93055    [Thunder Road,  87Eleven,  Bron Studios,  Crea...
93056    [Advent Hope Productions,  Hope Studios,  Kyle...
93057    [Samata Films,  Abhita Films Production Pvt. L...
93058             [Atomic Monster,  Blumhouse Productions]
Name: production_company_list, Length: 93059, dtype: object

In [29]:
# checking % of null values.
df['production_company_list'].isna().sum() / len(df)

0.363489829033194

- Some company names caused errors. Investigating below:

In [30]:
# edge_case = df.loc[df['production_companies'].fillna('').str.contains("Donner"),'production_companies'].index#.iloc[0]
# edge_case

In [31]:
# donner_ids = [ 66,  466, 1023,  298,   42,  357,   76,  721,   18, 2975,  452,
#               47,  112,  125,  482,  150,  221,  141,  174]
# donner_ids

In [32]:
# ## Checking an example edge case
# df.loc[donner_ids[0], 'production_companies']

In [33]:
# ## testing function on edge cases.
# get_company_name(df.loc[donner_ids[0], 'production_companies'])

- 🚨 **Issue with company names that include an apostrophe.**
    - Did not find a solution (that did not involved regular expressions.

In [34]:
pd.set_option('display.max_colwidth',300)

In [35]:
## additional investigation of companies that error'd
# df[df['production_company_list'].isna()]['production_companies']

#### Explode & Separate Production Companies

In [36]:
df_explode = df.explode('production_company_list')
df_explode

,belongs_to_collection,budget,id,imdb_id,original_language,original_title,overview,popularity,release_date,revenue,runtime,status,tagline,title,video,vote_average,vote_count,certification,Release Year,genre_names,production_companies_names,collection_name,production_countries_iso,production_countries_name,spoken_language_iso,poster_path,adult,backdrop_path,homepage,production_company_list
0,False,10000000,62127,tt0113026,en,The Fantasticks,Two rural teens sing and dance their way through a forbidden romance and a dangerous travelling carnival.,2.559,2000-09-22,0,86,Released,Try to remember the first time magic happened,The Fantasticks,False,5.500,22,NaN,2000.0,Comedy; Music; Romance,"Sullivan Street Productions; Michael Ritchie Productions; Radmin Company, The; United Artists",NaN,US,United States of America,en,/hfO64mXz3DgUxkBVU7no2UWRP7x.jpg,False,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,Sullivan Street Productions
0,False,10000000,62127,tt0113026,en,The Fantasticks,Two rural teens sing and dance their way through a forbidden romance and a dangerous travelling carnival.,2.559,2000-09-22,0,86,Released,Try to remember the first time magic happened,The Fantasticks,False,5.500,22,NaN,2000.0,Comedy; Music; Romance,"Sullivan Street Productions; Michael Ritchie Productions; Radmin Company, The; United Artists",NaN,US,United States of America,en,/hfO64mXz3DgUxkBVU7no2UWRP7x.jpg,False,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,Michael Ritchie Productions
0,False,10000000,62127,tt0113026,en,The Fantasticks,Two rural teens sing and dance their way through a forbidden romance and a dangerous travelling carnival.,2.559,2000-09-22,0,86,Released,Try to remember the first time magic happened,The Fantasticks,False,5.500,22,NaN,2000.0,Comedy; Music; Romance,"Sullivan Street Productions; Michael Ritchie Productions; Radmin Company, The; United Artists",NaN,US,United States of America,en,/hfO64mXz3DgUxkBVU7no2UWRP7x.jpg,False,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,"Radmin Company, The"
0,False,10000000,62127,tt0113026,en,The Fantasticks,Two rural teens sing and dance their way through a forbidden romance and a dangerous travelling carnival.,2.559,2000-09-22,0,86,Released,Try to remember the first time magic happened,The Fantasticks,False,5.500,22,NaN,2000.0,Comedy; Music; Romance,"Sullivan Street Productions; Michael Ritchie Productions; Radmin Company, The; United Artists",NaN,US,United States of America,en,/hfO64mXz3DgUxkBVU7no2UWRP7x.jpg,False,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,United Artists
1,False,0,110977,tt0113092,en,For the Cause,Earth is in a state of constant war and two colonies of humans have been sent to a far away world. The colonists create a new civilization but have inherited the worst traits of their forebears and war breaks out leaving the new cities in ruins. It falls to a bunch of teens to bring peace to the...,3.393,2000-11-15,0,100,Released,The ultimate showdown on a forbidden planet.,For the Cause,False,4.958,12,NaN,2000.0,Science Fiction,Dimension Films; Grand Design Entertainment; Martien Holdings A.V.V.; Nu Image,NaN,US,United States of America,en,/h9bWO13nWRGZJo4XVPiElXyrRMU.jpg,False,NaN,NaN,Dimension Films
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93057,False,0,1184693,tt9680562,mr,सत्यशोधक,The film follows the life of social reformer and writer Mahatma Jyotiba Phule.,4.889,2024-01-05,0,145,Released,HE BRINGS THE TORCH OF REVOLUTION TO ENLIGHTEN HIS PEOPLE,Satyashodhak,False,0.000,0,NaN,2024.0,Drama; History,Samata Films; Abhita Films Production Pvt. Ltd.; Sound Ideaz Academy; Afterplay Studio,NaN,IN,India,mr,/jzQPp0oSYPgu8crP3aq8EIjQ6Ti.jpg,False,/C28T7GAlCJQFWVDB4vUV8eZyf9.jpg,NaN,Abhita Films Production Pvt. Ltd.
93057,False,0,1184693,tt9680562,mr,सत्यशोधक,The film follows the life of social reformer and writer Mahatma Jyotiba Phule.,4.889,2024-01-05,0,145,Released,HE BRINGS THE TORCH OF REVOLUTION TO ENLIGHTEN HIS PEOPLE,Satyashodhak,False,0.000,0,NaN,2024.0,Drama; History,Samata Films; Abhita Films Production Pvt. Ltd.; Sound Ideaz Academy; Afterplay Studio,NaN,IN,India,mr,/jzQPp0oSYPgu8crP3aq8EIjQ6Ti.jpg,False,/C28T7GAlCJQFWVDB4vUV8eZyf9.jpg,NaN,Sound Ideaz Academy
93057,False,0,1184693,tt9680562,mr,सत्यशोधक,The film follows the life of social reformer and writer Mahatma Jyotiba Phule.,4.889,2024-01-05,0,145,Released,HE BRINGS THE TORCH OF REVOLUTION TO ENLIGHTEN HIS PEOPLE,Satyashodhak,False,0.000,0,NaN,2024.0,Drama; History,Samata Films; Abhita Films Production Pvt. Ltd.; Sound Ideaz Academy; Afterplay Studio,NaN,IN,India,mr,/jzQPp0oSYPgu8crP3aq8EIjQ6Ti.jpg,False,/C28T7GAlCJQFWVDB4vUV8eZyf9.jpg,NaN,Afterplay Studio
93058,False,15000000,1072342,tt9682428,en,Night Swim,"Forced into early retirement by a degenerative illness, former baseball player Ray Waller moves into a new house with his wife and two children. He hopes that the backyard swimming pool will be fun for the kids and provide physical therapy for himself. However, a dark secret from the home's past...",168.637,2024-01-03,30600000,98,Released,Everything you fear is under the surface.,Night Swim,False,5.095,41,PG-13,2024.0,Horror; Thriller,Atomic Monster; Blumhouse Productions,NaN,US,United States of America,en,/gSkfBGdxdialBMM7P02V4hcI6Ij.jpg,False,/klb3yODwKMRle19EcvdeSatEZL7.jpg,https://www.nightswim.movie,Atomic Monster
93058,False,15000000,1072342,tt9682428,en,Night Swim,"Forced into early retirement by a degenerative illness, former baseball player Ray Waller moves into a new house with his wife and two children. He hopes that the backyard swimming pool will be fun for the kids and provide physical therapy for himself. However, a dark secret from the home's past...",168.637,2024-01-03,30600000,98,Released,Everything you fear is under the surface.,Night Swim,False,5.095,41,PG-13,2024.0,Horror; Thriller,Atomic Monster; Blumhouse Productions,NaN,US,United States of America,en,/gSkfBGdxdialBMM7P02V4hcI6Ij.jpg,False,/klb3yODwKMRle19EcvdeSatEZL7.jpg,https://www.nightswim.movie,Blumhouse Productions

In [37]:
## save unique genres
unique_companies = sorted(df_explode['production_company_list'].dropna().unique())
len(unique_companies)

58037

In [38]:
## create integer ids for companies
company_map = dict(zip(unique_companies, range(len(unique_companies))))
company_map

{' "DIA" Productions GmbH & Co. KG': 0,
 ' "Weathering With You" Film Partners': 1,
 ' #littlesecretfilm': 2,
 ' (Colossal) Pictures': 3,
 ' (주)유비컬쳐': 4,
 ' (주)유비콘텐츠': 5,
 ' +Magenta': 6,
 ' .40 Caliber': 7,
 ' .Mille et Une. Films.': 8,
 ' .hack Conglomerate': 9,
 ' 010 Films': 10,
 ' 011 Productions': 11,
 ' 1 Production Film': 12,
 ' 1 Production Film Company': 13,
 ' 1-2-3 Production': 14,
 ' 1.85 Films': 15,
 ' 10 Cates Pictures': 16,
 ' 10 East Pictures': 17,
 ' 10 West Studios': 18,
 ' 10.80 Films': 19,
 ' 10/09 Films': 20,
 ' 100': 21,
 ' 100 Bares': 22,
 ' 100 Chapters': 23,
 ' 100 Feet Productions': 24,
 ' 100 doo': 25,
 ' 100% Halal': 26,
 ' 100% Synthetic Films': 27,
 ' 1000 Volt': 28,
 ' 101 Films': 29,
 ' 101 Films International': 30,
 ' 101 Studios': 31,
 ' 1011 Film': 32,
 ' 1014 Pictures': 33,
 ' 1019 Entertainment': 34,
 ' 1019 Pictures': 35,
 ' 102 Distribution': 36,
 ' 104 Films': 37,
 ' 108 Media': 38,
 ' 1091': 39,
 ' 1091 Media': 40,
 ' 1091 Pictures': 41,
 ' 10th Hole Productions': 42,
 ' 10th Street Entertainment': 43,
 ' 11:11 Entertainment': 44,
 ' 11:11 Films': 45,
 ' 11:11 Films & TV': 46,
 ' 11:11 Mediaworks': 47,
 ' 11:11 Productions': 48,
 ' 12 journey': 49,
 ' 120 Films': 50,
 ' 120 Over 80': 51,
 ' 1201 Pictures': 52,
 ' 120dB Films': 53,
 ' 120° Films': 54,
 ' 1244': 55,
 ' 127 Wall': 56,
 ' 127 Wall Productions': 57,
 ' 12th Street Entertainment': 58,
 ' 13 Bucks Entertainment': 59,
 ' 13 Entertainment': 60,
 ' 13 Films': 61,
 ' 13 Productions': 62,
 ' 13 TV': 63,
 ' 13th Studio, The': 64,
 ' 14 Reels Plus': 65,
 ' 14 Sunset': 66,
 ' 14-18 NOW': 67,
 ' 140 Productions': 68,
 ' 1405 comunicaciones': 69,
 ' 141 Entertainment': 70,
 ' 1428 Films': 71,
 ' 1492 Pictures': 72,
 ' 14ème Art Production': 73,
 ' 1518 Films': 74,
 ' 152 WEST Productions': 75,
 ' 16 Block Productions': 76,
 ' 16/16 Productions': 77,
 ' 1618 Action Limited': 78,
 ' 16:14 Entertainment': 79,
 ' 16:9 Cine': 80,
 ' 17-28 Black Production': 81,
 ' 1718 Studio': 82,
 ' 18 Reels': 83,
 ' 180 Degrees': 84,
 ' 1821 Pictures': 85,
 ' 185 Films': 86,
 ' 185 Trax': 87,
 ' 1868 Studios': 88,
 ' 18th Street Films': 89,
 ' 19 Entertainment': 90,
 ' 19 Twelve Films': 91,
 ' 19340 Productions': 92,
 ' 1961 Productores': 93,
 ' 1973 Productions': 94,
 ' 1976 Productions': 95,
 ' 1978 Films': 96,
 ' 1984 Pictures': 97,
 ' 1984 Private Defense Contractors': 98,
 ' 1991 Broadway Theatre Group': 99,
 ' 1991 Productions': 100,
 ' 19th & Wilson': 101,
 ' 1Community': 102,
 ' 1Department Entertainment Services': 103,
 ' 1st Dibz Entertainment': 104,
 ' 1st Wave Productions': 105,
 ' 2 Bridges Productions': 106,
 ' 2 Cities Productions': 107,
 ' 2 Entertain': 108,
 ' 2 Friends Media': 109,
 ' 2 Loop Films': 110,
 ' 2 Minutes': 111,
 ' 2 Roberts Productions': 112,
 ' 2 SQ FT': 113,
 ' 2 Wolves Films': 114,
 ' 2-Team Productions': 115,
 ' 2.0 Entertainment': 116,
 ' 2.35 Digital': 117,
 ' 2.4.7. Films': 118,
 ' 2.9 Film Holding': 119,
 ' 20 Steps Productions': 120,
 ' 2000 Bilder': 121,
 ' 2003 Productions': 122,
 ' 2006': 123,
 ' 2008NY5': 124,
 ' 2010 Entertainment': 125,
 ' 2015 PROJECT Lovelive! Movie': 126,
 ' 2076 Kolektib': 127,
 ' 2077883 Ontario': 128,
 ' 20ten Media': 129,
 ' 20th Century Fox': 130,
 ' 20th Century Fox Animation': 131,
 ' 20th Century Fox Brazil': 132,
 ' 20th Century Fox Home Entertainment': 133,
 ' 20th Century Fox Japan': 134,
 ' 20th Century Fox Korea': 135,
 ' 20th Century Fox Russia': 136,
 ' 20th Century Fox Television': 137,
 ' 20th Century Studios': 138,
 ' 20th Digital Studio': 139,
 ' 21 Balloons Productions': 140,
 ' 21 Century Shengkai Film': 141,
 ' 21 Laps Entertainment': 142,
 ' 21 Unofilm': 143,
 ' 211 Productions': 144,
 ' 212 Productions': 145,
 ' 21juin Cinéma': 146,
 ' 21st Century 3D': 147,
 ' 21st Century DreamQuest Films': 148,
 ' 221 Films': 149,
 ' 222 Pictures': 150,
 ' 224 Entertainment': 151,
 ' 2262730 Ontario': 152,
 ' 22D Music': 153,
 ' 22DOGS': 154,
 ' 22h22': 155,
 ' 22nd & Indiana Pictures': 156,
 ' 22six Productions': 157,
 ' 23 Hues Entertainment': 158,
 ' 23/5 Filmproduktion': 159,
 ' 235 Films': 160,
 ' 23rd Street Films': 161,
 ' 23ten': 162,
 ' 24 25 Films': 163,
 ' 24 Frames Factory': 164,
 ' 24 Mai Production': 165,
 ' 24 Media Production Company': 166,
 ' 24:25 Films': 167,
 ' 24AM Studios': 168,
 ' 24MEDIA': 169,
 ' 24TL Productions': 170,
 ' 24images': 171,
 ' 25 Laps': 172,
 ' 25 Stories': 173,
 ' 2500 entertainment': 174,
 ' 26 Company': 175,
 ' 26 Films': 176,
 ' 26 Keys Productions': 177,
 ' 26DB Productions': 178,
 ' 27 Films Production': 179,
 ' 28 Entertainment': 180,
 ' 2929 Entertainment': 181,
 ' 2929 Productions': 182,
 ' 2AM': 183,
 ' 2B Films': 184,
 ' 2D Entertainment': 185,
 ' 2DUX²': 186,
 ' 2Feet Entertainment': 187,
 ' 2HORLOGES': 188,
 ' 2Könige Filmproduktion': 189,
 ' 2L Productions': 190,
 ' 2M': 191,
 ' 2Pilots Filmproduction': 192,
 ' 2R Productions': 193,
 ' 2S Films': 194,
 ' 2X9': 195,
 ' 2btube': 196,
 ' 2d3D Animations': 197,
 ' 2mcine': 198,
 ' 2nd Floor Productions': 199,
 ' 2|35': 200,
 ' 3 Arts Entertainment': 201,
 ' 3 Bean Productions': 202,
 ' 3 Dogs & a Pony': 203,
 ' 3 Doubles Producciones': 204,
 ' 3 Kings Productions': 205,
 ' 3 Legged Dog Films': 206,
 ' 3 Marys Entertainment': 207,
 ' 3 Men in a Tub Productions': 208,
 ' 3 Moinhos Produções Artísticas': 209,
 ' 3 Ng Film': 210,
 ' 3 Ring Circus Films': 211,
 ' 3 Spears Pty. Ltd.': 212,
 ' 3 in the Box': 213,
 ' 3 minutes West': 214,
 ' 3-D Film Archive': 215,
 ' 3-Dimension Films': 216,
 ' 3-H Films': 217,
 ' 3.16 Productions': 218,
 ' 30 Holding': 219,
 ' 30 Something Productions': 220,
 ' 300 & Co.': 221,
 ' 305 Media Group': 222,
 ' 308 Enterprises': 223,
 ' 30WEST': 224,
 ' 31 Juin Films': 225,
 ' 310 Studios': 226,
 ' 321 Films': 227,
 ' 3210 Films': 228,
 ' 33 Pictures': 229,
 ' 3311 Productions': 230,
 ' 33andOut Productions': 231,
 ' 341 House Productions': 232,
 ' 341Production': 233,
 ' 360 Film Group': 234,
 ' 360 Pictures': 235,
 ' 365 Film Group': 236,
 ' 369 Productions': 237,
 ' 371 Productions': 238,
 ' 3807 Productions': 239,
 ' 388 Studios': 240,
 ' 39 Steps': 241,
 ' 39Films': 242,
 ' 3:00 am Productions': 243,
 ' 3:16 Media Network': 244,
 ' 3:41am': 245,
 ' 3B Productions': 246,
 ' 3B-Produktion': 247,
 ' 3Beep': 248,
 ' 3BlackDot': 249,
 ' 3C Films Group': 250,
 ' 3D Safari LC': 251,
 ' 3D Video System': 252,
 ' 3L Filmproduktion GmbH': 253,
 ' 3L Filmverleih': 254,
 ' 3Pas Studios': 255,
 ' 3QU Media': 256,
 ' 3Roundburst Productions': 257,
 ' 3am Entertainment': 258,
 ' 3bros Film': 259,
 ' 3dar': 260,
 ' 3dot Productions': 261,
 ' 3rd Coast Digital Films': 262,
 ' 3rd Identity Films': 263,
 ' 3rd Shift Media': 264,
 ' 3sat': 265,
 ' 3x7 production': 266,
 ' 4 1/2': 267,
 ' 4 Cats Pictures': 268,
 ' 4 Film': 269,
 ' 4 Mecs à Lunettes': 270,
 ' 4 Proof Film': 271,
 ' 4 Rocket Surgeons': 272,
 ' 4 Winds Media': 273,
 ' 4 à 4 Productions': 274,
 ' 40 Acres and a Mule Filmworks': 275,
 ' 400 Blows Production': 276,
 ' 403 Productions': 277,
 ' 408 Films': 278,
 ' 415 Project': 279,
 ' 42': 280,
 ' 42 Films': 281,
 ' 42 Km Film': 282,
 ' 424 Post': 283,
 ' 42film': 284,
 ' 430 Productions': 285,
 ' 435 Films': 286,
 ' 44 Toons': 287,
 ' 441 Films': 288,
 ' 455 Films': 289,
 ' 49th Parallel Films': 290,
 ' 4AM Film Studios': 291,
 ' 4Cows': 292,
 ' 4DH Films': 293,
 ' 4Digital Media': 294,
 ' 4Film': 295,
 ' 4Go West Productions': 296,
 ' 4Horsemen Films': 297,
 ' 4Kids Entertainment': 298,
 ' 4L': 299,
 ' 4Leaf Productions': 300,
 ' 4M': 301,
 ' 4PF': 302,
 ' 4PIX': 303,
 ' 4k Films': 304,
 ' 4th & Alameda Picture Company': 305,
 ' 4th Row Films': 306,
 ' 4th Wall Entertainment': 307,
 ' 4½': 308,
 ' 5 Child Productions': 309,
 ' 5 London Films': 310,
 ' 5 cm/sec Productions': 311,
 ' 5-Second Films': 312,
 ' 5000 Broadway Productions': 313,
 ' 501audio': 314,
 ' 501st Joint Fighter Wing': 315,
 ' 51 Entertainment': 316,
 ' 51 Minds Entertainment': 317,
 ' 5100 Films': 318,
 ' 5150 Action': 319,
 ' 5150 Productions': 320,
 ' 51MM Films': 321,
 ' 51k': 322,
 ' 521 Films': 323,
 ' 55 Films': 324,
 ' 5656 Films': 325,
 ' 58 Films Llc': 326,
 ' 59%': 327,
 ' 5B Productions': 328,
 ' 5J Media': 329,
 ' 5pb.': 330,
 ' 5th Element': 331,
 ' 5th Tuesday Films': 332,
 ' 5’7 Films': 333,
 ' 6 Foot Films': 334,
 ' 6 Seasons Productions': 335,
 ' 606 Films': 336,
 ' 6140 Productions': 337,
 ' 625 Productions': 338,
 ' 63 Lights Entertainment': 339,
 ' 64A Films': 340,
 ' 666 Production': 341,
 ' 66cc Company Limited': 342,
 ' 6th & Idaho': 343,
 ' 7 Bucks Entertainment': 344,
 ' 7 Continents Films': 345,
 ' 7 Ponies Productions': 346,
 ' 7 Región de Murcia': 347,
 ' 7 Toes Productions': 348,
 ' 70 MM Entertainment': 349,
 ' 700 Pictures': 350,
 ' 700G Films': 351,
 ' 72° East Production': 352,
 ' 73140323 Producciones Cinematográficas': 353,
 ' 74 Entertainment': 354,
 ' 74 Films': 355,
 ' 75 Year Plan Productions': 356,
 ' 77 Films': 357,
 ' 777 Films Corporation': 358,
 ' 79th & Broadway Entertainment': 359,
 ' 7A Productions': 360,
 ' 7Arte Vital': 361,
 ' 7G Films': 362,
 ' 7Glab Entertainment': 363,
 ' 7Heaven Productions': 364,
 ' 7Land Entertainment': 365,
 ' 7e Apache Film': 366,
 ' 7e Heart Productions': 367,
 ' 7th Empire Media': 368,
 ' 7th Sense Films': 369,
 ' 7thScreen': 370,
 ' 8 Ball Stunts of Hollywood': 371,
 ' 8 Street Films': 372,
 ' 80 Days Productions': 373,
 ' 80 HERTZ Studios': 374,
 ' 800 Pound Gorilla Media': 375,
 ' 802 Films': 376,
 ' 81 Produce': 377,
 ' 828 Media Capital': 378,
 ' 8383 Productions': 379,
 ' 85 South Media': 380,
 ' 852 Films': 381,
 ' 856 Films': 382,
 ' 8750 Films': 383,
 ' 87Eleven': 384,
 ' 87North Productions': 385,
 ' 88rising': 386,
 ' 8:38 Productions': 387,
 ' 8Heads Productions': 388,
 ' 8horses': 389,
 ' 8th In Line Productions': 390,
 ' 8th Wonder Entertainment': 391,
 ' 9 Light Entertainment': 392,
 ' 9 Story Media Group': 393,
 ' 9.14 Pictures': 394,
 ' 9.99 Films': 395,
 ' 90 Minutes Film Studio': 396,
 ' 90 Production': 397,
 ' 900 Films': 398,
 ' 9000 Wolves': 399,
 ' 93rd Bombardment Group Association': 400,
 ' 98 MPH Productions': 401,
 ' 99 Ways Entertainment': 402,
 ' 99pro media': 403,
 ' 9ers Entertainment': 404,
 ' A Atalanta': 405,
 ' A Band Apart': 406,
 ' A Baroque House': 407,
 ' A Better Tomorrow Films': 408,
 ' A Bigger Boat': 409,
 ' A Bird and a Bear Entertainment': 410,
 ' A Bollywood Yorker Films': 411,
 ' A Brighter Headache': 412,
 ' A Casual Romance Productions': 413,
 ' A Cat Called Rover': 414,
 ' A Certain Film Productions': 415,
 ' A Channel Production Fund': 416,
 ' A Company': 417,
 ' A Contracorriente Films': 418,
 ' A Contraluz Films': 419,
 ' A Creative Works': 420,
 ' A Film Company': 421,
 ' A Film Estonia': 422,
 ' A Film Location Company': 423,
 ' A Film Monkey Production': 424,
 ' A Free World Productions': 425,
 ' A Fábrica': 426,
 ' A Grand Elephant': 427,
 ' A Grinning Tree Production': 428,
 ' A Happy Place': 429,
 ' A Hot Dog': 430,
 ' A Hype Media Production': 431,
 ' A Lasting Dose Productions': 432,
 ' A Manoj Punjabi Production': 433,
 ' A Mates Entertainment Release': 434,
 ' A May Sky Picture Entertainment': 435,
 ' A Monster Calls AIE': 436,
 ' A Named Viking': 437,
 ' A Pict Films': 438,
 ' A Plus Entertainment': 439,
 ' A Plus Image': 440,
 ' A Plus Image 2': 441,
 ' A Plus Image 4': 442,
 ' A Prime Group': 443,
 ' A Private View': 444,
 ' A Quiet Storm Productions': 445,
 ' A Rabbit Hole': 446,
 ' A Really Good Home Pictures': 447,
 ' A Really Happy Film': 448,
 ' A Russian Bear Production LLC': 449,
 ' A School Productions': 450,
 ' A Shadow in the Dark Productions': 451,
 ' A Single Man Productions': 452,
 ' A Skye Vision': 453,
 ' A Space Between': 454,
 ' A Stern Talking To': 455,
 ' A Street Productions': 456,
 ' A Studios': 457,
 ' A Studios LLP': 458,
 ' A Team Productions': 459,
 ' A Ticklish Tale': 460,
 ' A Toda Madre Entertainment': 461,
 ' A W Pictures': 462,
 ' A Walled Garden': 463,
 ' A for Apple Production': 464,
 ' A%26E IndieFilms': 465,
 ' A&A Pictures': 466,
 ' A&E IndieFilms': 467,
 ' A&E Television Networks': 468,
 ' A&F Productions': 469,
 ' A&G': 470,
 ' A&M Sound Pictures': 471,
 ' A&O Buero': 472,
 ' A+ Images 7': 473,
 ' A+E Studios': 474,
 ' A-1 Pictures': 475,
 ' A-Film Distribution': 476,
 ' A-Film Home Entertainment': 477,
 ' A-Line Pictures': 478,
 ' A-List Entertainment': 479,
 ' A-Mark Entertainment': 480,
 ' A-Motion': 481,
 ' A-OK Media House': 482,
 ' A-Po Films': 483,
 ' A-Station': 484,
 ' A-Team': 485,
 ' A-Yao Film': 486,
 ' A. Film Production': 487,
 ' A. Smith & Co. Productions': 488,
 ' A.A.C. Productions': 489,
 ' A.B. Seahorse Films': 490,
 ' A.E. Media Corporation': 491,
 ' A.G. Films': 492,
 ' A.Gi.Di.': 493,
 ' A.J. Productions': 494,
 ' A.J.O.Z. Films': 495,
 ' A.Pictures Film & TV Production': 496,
 ' A.R.C. Films': 497,
 ' A.R.I. Studios': 498,
 ' A.R.Murugadoss Productions': 499,
 ' A.S. Prod': 500,
 ' A.S. Productions': 501,
 ' A.S.A.P': 502,
 ' A.U.M. Films': 503,
 ' A1 Studios': 504,
 ' A113': 505,
 ' A2 Entertainment Group': 506,
 ' A24': 507,
 ' A2B Media': 508,
 ' A2L Production Films': 509,
 ' A3 Vetements': 510,
 ' A71 Productions': 511,
 ' A7SLE Films': 512,
 ' AA Films': 513,
 ' AAA Entertainment': 514,
 ' AAA Motion Pictures': 515,
 ' AAMPI Inc.': 516,
 ' AAND': 517,
 ' AARP Studios': 518,
 ' AB Svensk Filmindustri': 519,
 ' AB3': 520,
 ' ABC Animation': 521,
 ' ABC News': 522,
 ' ABC News Studios': 523,
 ' ABC3': 524,
 ' ABCDE Pictures': 525,
 ' ABHO Film': 526,
 ' ABKCO Films': 527,
 ' ABO Entertainment': 528,
 ' ABS Film Company': 529,
 ' ABS Payroll & Production Accounting Services': 530,
 ' ABS Production': 531,
 ' ABrownGirl Films': 532,
 ' AC Films': 533,
 ' ACCOMM Entertainment': 534,
 ' ACE': 535,
 ' ACE Entertainment': 536,
 ' ACE Pictures Entertainment': 537,
 ' ACE Productions': 538,
 ' ACH': 539,
 ' ACLJ Films': 540,
 ' ACME Film': 541,
 ' ACPAV': 542,
 ' ACT 2 Pictures': 543,
 ' ACTRA': 544,
 ' AD406': 545,
 ' ADCB Films': 546,
 ' ADF Acquisitions': 547,
 ' ADF Studios': 548,
 ' ADI Films': 549,
 ' ADIUVO Productions': 550,
 ' ADK Emotions': 551,
 ' ADK Marketing Solutions': 552,
 ' ADME Studios': 553,
 ' ADR Productions': 554,
 ' ADTDF Utah Productions': 555,
 ' ADV Films': 556,
 ' AEC Studios': 557,
 ' AEG Live': 558,
 ' AFAC': 559,
 ' AFE': 560,
 ' AFH Films': 561,
 ' AFPI': 562,
 ' AFS Film': 563,
 ' AG Group': 564,
 ' AG Studio': 565,
 ' AG Studios': 566,
 ' AG Studios NYC': 567,
 ' AGADIC': 568,
 ' AGBO': 569,
 ' AGC Studios': 570,
 ' AH Production': 571,
 ' AI Film': 572,
 ' AI Film Entertainment': 573,
 ' AI Multimedia': 574,
 ' AIA Films': 575,
 ' AIC A.S.T.A.': 576,
 ' AISI film': 577,
 ' AITD Productions': 578,
 ' AJ Entertainement Ltd.': 579,
 ' AJ Media Magic': 580,
 ' AK Entertainments': 581,
 ' AK Worldwide': 582,
 ' AK47 Presents': 583,
 ' AKA Pictures': 584,
 ' AKELA Films': 585,
 ' AKN Productions': 586,
 ' AKOM Production Company': 587,
 ' ALEF Film & Media Group': 588,
 ' ALP Productions': 589,
 ' ALV Films': 590,
 ' AM Associates': 591,
 ' AM Films': 592,
 ' AM Pictures': 593,
 ' AMA Film': 594,
 ' AMA Productions': 595,
 ' AMBI': 596,
 ' AMBI Group': 597,
 ' AMBI Pictures': 598,
 ' AMC Networks International Iberia': 599,
 ' AMC Pictures': 600,
 ' AMC Studios': 601,
 ' AMG': 602,
 ' AMG Entertainment': 603,
 ' AMG Media': 604,
 ' AMKO Productions Inc.': 605,
 ' AMP': 606,
 ' AMP International': 607,
 ' AMPLE': 608,
 ' AMTD Digital': 609,
 ' AMUSE': 610,
 ' AMedia': 611,
 ' ANA Media': 612,
 ' ANC Entertainment': 613,
 ' ANDMARQ Studio': 614,
 ' ANEW': 615,
 ' ANG Film': 616,
 ' ANGOA': 617,
 ' ANIMA': 618,
 ' ANIMAL DE LUZ FILMS': 619,
 ' ANTEC': 620,
 ' ANTORCHA FILMS': 621,
 ' AOI Pro.': 622,
 ' AP Mañana': 623,
 ' APC': 624,
 ' APL Film': 625,
 ' APM - Ana Pinhão Moura Produções': 626,
 ' APT Entertainment': 627,
 ' APT Films': 628,
 ' APT. 1B Productions': 629,
 ' APTN': 630,
 ' APU Productions': 631,
 ' AR Content': 632,
 ' AR Films': 633,
 ' AR entertainment': 634,
 ' ARC Entertainment': 635,
 ' ARC FILMS': 636,
 ' ARD': 637,
 ' ARD Degeto': 638,
 ' ARK': 639,
 ' ARM Entertainment': 640,
 ' ARO Entertainment': 641,
 ' ARP Sélection': 642,
 ' ARRAY Filmworks': 643,
 ' ARRI Media': 644,
 ' ARRI Productions': 645,
 ' ARRI Rental': 646,
 ' ARS Digital Studio': 647,
 ' ARS Film Production': 648,
 ' ARS Films': 649,
 ' ARTE': 650,
 ' ARTE France Cinéma': 651,
 ' ARTE GEIE': 652,
 ' ARTE/Cofinova 18': 653,
 ' ARTHIT': 654,
 ' ARTeFACT Entertainment (Hong Kong) Ltd.': 655,
 ' ARX Anima': 656,
 ' ARY Films': 657,
 ' AS Entertainment': 658,
 ' ASA Film Production': 659,
 ' ASAF': 660,
 ' ASAP Entertainment': 661,
 ' ASC Audiovisual': 662,
 ' ASC Films': 663,
 ' ASCII Media Works': 664,
 ' ASG Films': 665,
 ' ASIA Pictures Entertainment': 666,
 ' ASIG Productions': 667,
 ' ASP S.A.': 668,
 ' ASP White': 669,
 ' AST Studios': 670,
 ' AT Studio': 671,
 ' AT-Production': 672,
 ' AT-X': 673,
 ' ATC Management': 674,
 ' ATKO Films': 675,
 ' ATM Grupa': 676,
 ' ATM Motionwide': 677,
 ' ATM System': 678,
 ' ATO Pictures': 679,
 ' ATR Films': 680,
 ' AUGUST XXIV': 681,
 ' AUM Creative': 682,
 ' AUX BUNKER CONSTANTLY PRODUCTIONS DCS': 683,
 ' AUX Entertainment': 684,
 ' AV Club, The': 685,
 ' AV Patchbay': 686,
 ' AV Pictures': 687,
 ' AV1 Productions': 688,
 ' AVA Productions': 689,
 ' AVANTIS': 690,
 ' AVB Production AB': 691,
 ' AVE Publishing GmbH & Co. KG': 692,
 ' AVEK': 693,
 ' AVG Global Entertainment': 694,
 ' AVIDIA': 695,
 ' AVMA Media': 696,
 ' AVRO': 697,
 ' AVRO Television': 698,
 ' AW Canada Films': 699,
 ' AWW Germany Gmbh': 700,
 ' AXIOM 8': 701,
 ' AXN': 702,
 ' AZ Celtic Films': 703,
 ' AZ Film Studios': 704,
 ' AZ Films': 705,
 ' AZ Works': 706,
 ' AZA Films': 707,
 ' AZL Productions KG': 708,
 ' AZT-Media': 709,
 ' Aadharsh Madhikaandham Pictures': 710,
 ' Aadi Productions': 711,
 ' Aambal Films': 712,
 ' Aamir Khan Productions': 713,
 ' Aamu Film Company': 714,
 ' Aamuktha Creations': 715,
 ' Aardman': 716,
 ' Aardwolf Entertainment': 717,
 ' Aaron Sinclair Film': 718,
 ' Aascar Films': 719,
 ' Aashirvad Cinemas': 720,
 ' Aatpat Production': 721,
 ' Abaam Movies': 722,
 ' Abandon Entertainment': 723,
 ' Abandon Pictures': 724,
 ' Abano Productions': 725,
 ' Abbas Kiarostami Productions': 726,
 ' Abbas Mustan Films Production': 727,
 ' Abbey Road Studio': 728,
 ' Abbolita Productions': 729,
 ' AbbottVision': 730,
 ' Abbout Productions': 731,
 ' Abduction Films': 732,
 ' Abe Shuji': 733,
 ' Aberdeen Boat Club': 734,
 ' Abhann Productions': 735,
 ' Abhishek Agarwal Arts': 736,
 ' Abhishek Pictures': 737,
 ' Abhita Films Production Pvt. Ltd.': 738,
 ' Abi & Abi Pictures': 739,
 ' Abissia Productions': 740,
 ' Ablaze Image': 741,
 ' Abnormal Entertainment': 742,
 ' Abolitionist Entertainment': 743,
 ' Abominable Entertainment': 744,
 ' Aboretum Productions': 745,
 ' Abot Hameiri': 746,
 ' Above the Bar Productions': 747,
 ' Above the Clouds': 748,
 ' Above the Clouds Media Group': 749,
 ' Abra Producciones': 750,
 ' Abracadabra Films': 751,
 ' Abraham Productions': 752,
 ' Abramorama': 753,
 ' Abramovic': 754,
 ' Abraxas Film': 755,
 ' Absent Without Leave': 756,
 ' Absinthe Films': 757,
 ' Abso Lutely Productions': 758,
 ' Absolut Film Management': 759,
 ' Absolutely Famished Catering': 760,
 ' Absolutely Productions': 761,
 ' Abstract': 762,
 ' Abstract Entertainment': 763,
 ' Abstraction Plan': 764,
 ' Absurda': 765,
 ' Abu Dhabi Film Commission': 766,
 ' Abundantia Entertainment': 767,
 ' Abyssmal Entertainment': 768,
 ' Abzatz': 769,
 ' Acaba Produzioni': 770,
 ' Acacia Filmed Entertainment': 771,
 ' Academy Films': 772,
 ' Académie du Spectacle Equestre': 773,
 ' Acajou Films': 774,
 ' Acamedia Pictures': 775,
 ' Accelerated Entertainment': 776,
 ' Accelerated Matter': 777,
 ' Accelerator Films': 778,
 ' Accent Entertainment Corporation': 779,
 ' Accent Film Entertainment': 780,
 ' Access Entertainment': 781,
 ' Accio': 782,

In [39]:
## Explode id and company columns to make joiner table
df_title_companies = df_explode[['imdb_id','production_company_list']]
df_title_companies

         imdb_id             production_company_list
0      tt0113026         Sullivan Street Productions
0      tt0113026         Michael Ritchie Productions
0      tt0113026                 Radmin Company, The
0      tt0113026                      United Artists
1      tt0113092                     Dimension Films
...          ...                                 ...
93057  tt9680562   Abhita Films Production Pvt. Ltd.
93057  tt9680562                 Sound Ideaz Academy
93057  tt9680562                    Afterplay Studio
93058  tt9682428                      Atomic Monster
93058  tt9682428               Blumhouse Productions

[171044 rows x 2 columns]

In [40]:
## add integer ids to table
df_title_companies['company_id'] = df_title_companies['production_company_list'].map(company_map)
df_title_companies

/var/folders/rf/vw4r41jd7vd95x1w0dth7v9h0000gp/T/ipykernel_5290/1272872552.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_title_companies['company_id'] = df_title_companies['production_company_list'].map(company_map)

         imdb_id             production_company_list  company_id
0      tt0113026         Sullivan Street Productions     53370.0
0      tt0113026         Michael Ritchie Productions     16176.0
0      tt0113026                 Radmin Company, The     20260.0
0      tt0113026                      United Artists     26222.0
1      tt0113092                     Dimension Films     35941.0
...          ...                                 ...         ...
93057  tt9680562   Abhita Films Production Pvt. Ltd.       738.0
93057  tt9680562                 Sound Ideaz Academy     23117.0
93057  tt9680562                    Afterplay Studio       924.0
93058  tt9682428                      Atomic Monster     30877.0
93058  tt9682428               Blumhouse Productions      3500.0

[171044 rows x 3 columns]

In [41]:
df_company = pd.DataFrame({'company_id':company_map.values(), 'company_name':company_map.keys()})
df_company

       company_id                          company_name
0               0       "DIA" Productions GmbH & Co. KG
1               1   "Weathering With You" Film Partners
2               2                     #littlesecretfilm
3               3                   (Colossal) Pictures
4               4                               (주)유비컬쳐
...           ...                                   ...
58032       58032                               오피오티픽쳐스
58033       58033                                유비네트워크
58034       58034                                  코라필름
58035       58035                                플랫폼픽쳐스
58036       58036                                  한맥문화

[58037 rows x 2 columns]

In [42]:
# df

## ⭐️Clean & Normalize ~~Belongs to~~ collection

In [43]:
#looking for non-null entries to use as test
df[~df['collection_name'].isna()]

,belongs_to_collection,budget,id,imdb_id,original_language,original_title,overview,popularity,release_date,revenue,runtime,status,tagline,title,video,vote_average,vote_count,certification,Release Year,genre_names,production_companies_names,collection_name,production_countries_iso,production_countries_name,spoken_language_iso,poster_path,adult,backdrop_path,homepage,production_company_list
5,True,15000000,16225,tt0119273,en,Heavy Metal 2000,"Upon discovery of a shard of what could be the Loc-Nar, a miner named Tyler becomes possessed with an insatiable hunger for power and a thirst for immortality. On his way to the planet of youth, Tyler wipes out most of a space colony and kidnaps a beautiful young woman. His only mistake is that ...",13.224,2000-04-19,0,88,Released,not to survive the fight in the external world without inner strength,Heavy Metal 2000,False,6.077,196,R,2000.0,Action; Adventure; Animation; Fantasy; Science Fiction,Helkon Media; Das Werk Productions; Columbia Pictures; CinéGroupe,Heavy Metal Collection,CA; DE,Canada; Germany,en,/mzOgKYOXiuwE5DIfagFs34bOb3J.jpg,False,/f5C03doOWiauu37bToKXtpgP5bS.jpg,NaN,"[Helkon Media, Das Werk Productions, Columbia Pictures, CinéGroupe]"
14,True,45000000,7443,tt0120630,en,Chicken Run,"The creators of Wallace & Gromit bring you an exciting and original story about a group of chickens determined to fly the coop–even if they can’t fly! It’s hardly poultry in motion when Rocky attempts to teach Ginger and her feathered friends to fly…but, with teamwork, determination and a little...",91.080,2000-06-23,224834564,84,Released,There's nothing more determined than poultry with a plan.,Chicken Run,False,6.800,4704,G,2000.0,Animation; Comedy; Family,Aardman; Pathé; DreamWorks Pictures,Chicken Run Collection,GB; US; FR,United Kingdom; United States of America; France,en,/oYbVT9e0k2ZSrRhDSCw2Yqshe1n.jpg,False,/t7aJ7hqsMLEoqBJk7yAXxcAVvcz.jpg,NaN,"[Aardman, Pathé, DreamWorks Pictures]"
18,True,125000000,955,tt0120755,en,Mission: Impossible II,"With computer genius Luther Stickell at his side and a beautiful thief on his mind, agent Ethan Hunt races across Australia and Spain to stop a former IMF agent from unleashing a genetically engineered biological weapon called Chimera. This mission, should Hunt choose to accept it, plunges him i...",43.305,2000-05-24,546400000,123,Released,Expect the impossible again.,Mission: Impossible II,False,6.123,6299,NaN,2000.0,Adventure; Action; Thriller,Paramount; Cruise/Wagner Productions,Mission: Impossible Collection,US,United States of America,en,/1VMWLpk9VXyYcEZ8w3uUhp0OF1v.jpg,False,/24DZfupDlhXeTchmcOkoGRhP5Vg.jpg,NaN,"[Paramount, Cruise/Wagner Productions]"
19,True,75000000,36657,tt0120903,en,X-Men,"Two mutants, Rogue and Wolverine, come to a private academy for their kind whose resident superhero team, the X-Men, must oppose a terrorist organization with similar powers.",2.067,2000-07-13,296339527,104,Released,Trust a few. Fear the rest.,X-Men,False,6.996,10708,PG-13,2000.0,Adventure; Action; Science Fiction,Bad Hat Harry Productions; 20th Century Fox; Marvel Entertainment Group,X-Men Collection,US,United States of America,en,/bRDAc4GogyS9ci3ow7UnInOcriN.jpg,False,/yGxMIIDSUvaXUjjJuIYZi40Jt3J.jpg,https://www.20thcenturystudios.com/movies/x-men,"[Bad Hat Harry Productions, 20th Century Fox, Marvel Entertainment Group]"
21,True,100000000,11688,tt0120917,en,The Emperor's New Groove,"Kuzco is a self-centered emperor who summons Pacha from a village and to tell him that his home will be destroyed to make room for Kuzco's new summer home. Kuzco's advisor, Yzma, tries to poison Kuzco and accidentally turns him into a llama, who accidentally ends up in Pacha's village. Pacha off...",102.103,2000-12-15,169327687,78,Released,It's all about... ME!,The Emperor's New Groove,False,7.549,6253,G,2000.0,Adventure; Animation; Comedy; Family; Fantasy,Walt Disney Pictures; Walt Disney Feature Animation,The Emperor's New Groove Collection,US,United States of America,en,/wwbgkXQBEKtnyIJapk6gUgWkVw8.jpg,False,/gGxXXbiaivFvuMhBRmA14tuJiRe.jpg,NaN,"[Walt Disney Pictures, Walt Disney Feature Animation]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92926,True,0,1096342,tt26546123,en,Beautiful Wedding,"In the aftermath of Beautiful Disaster, Abby and Travis wake after a crazy night in Vegas as accidental newlyweds! With the mob on their heels, they flee to Mexico for a wild, weird honeymoon—but are they in for another disaster?",16.253,2024-01-24,0,100,Post Production,NaN,Beautiful Wedding,False,0.000,0,R,2024.0,Comedy; Drama; Romance,Voltage Pictures; Wattpad,Beautiful Disaster Collection,US,United States of America,en,/yA9CO79V0lr9IWEmqQdp2ozvYQE.jpg,False,/ik7weMW5cize6A1ApJ9dXHG6QQn.jpg,NaN,"[Voltage Pictures, Wattpad]"
92932,True,0,1214314,tt27110516,en,One More Shot,"Following the attack on the black site in Poland, Navy SEAL Jake Harris is ordered to escort terrorist suspect Amin Mansur to Washington D.C. for interrogation. Before the prisoner transfer process is complete, though, the airport is attacked by a group of heavily armed, well-trained mercenaries.",147.998,2024-01-12,0,102,Released,NaN,One More Shot,False,6.987,38,R,2024.0,Action; Thriller,Signature Films; Signature Entertainment; Lipsync Productions; Sky Cinema; Richmond Pictures,One Shot Collection,GB; US,United Kingdom; United States of America,en,/nQ1BQg4yMdlYSHvHZgwladzy7EF.jpg,False,/ay0PJQZizDXk0pzhoGX4v7K9h7A.jpg,NaN,"[Signature Films, Signature Entertainment, Lipsync Productions, Sky Cinema, Richmond Pictures]"
92951,True,0,1139566,tt28105944,es,A través de tu mirada,Raquel and Ares face the challenges that arise in this last chapter of their relationship and their individual lives.,47.383,2024-02-23,0,105,Post Production,NaN,Through My Window: Looking at You,False,0.000,0,NaN,2024.0,Romance; Drama; Comedy,Nostromo Pictures,Through My Window Collection,ES,Spain,es,/yIR8mobHcGaIIFvhTAONfQBy0nB.jpg,False,/lwcTBhlfLOUFjg8elSBDmFK5W0h.jpg,https://www.netflix.com/title/81484069,[Nostromo Pictures]
92968,True,0,1155089,tt29195117,en,Justice League: Crisis on Infinite Earths Part One,"Death is coming. Worse than death: oblivion. Not just for our Earth, but for everyone, everywhere, in every universe! Against this ultimate destruction, the mysterious Monitor has gathered the greatest team of Super Heroes ever assembled. But what can the combined might of Superman, Wonder Woman...",400.226,2024-01-09,0,93,Released,"Worlds will live, worlds will die and nothing will ever be the same.",Justice League: Crisis on Infinite Earths Part One,False,7.744,78,PG-13,2024.0,Animation; Science Fiction; Action,DC Entertainment; Warner Bros. Animation,Justice League (Tomorrowverse) Collection,US,United States of America,en,/zR6C66EDklgTPLHRSmmMt5878MR.jpg,False,/rVJfabCz1ViynQCEz54MRqdZig1.jpg,https://www.warnerbros.com/movies/justice-league-crisis-infinite-earths-part-one,"[DC Entertainment, Warner Bros. Animation]"
92975,True,0,933131,tt29722855,ko,황야,"After a deadly earthquake turns Seoul into a lawless badland, a fearless huntsman springs into action to rescue a teenager abducted by a mad doctor.",36.211,2024-01-26,0,107,Post Production,One last hunt to save us all.,Badland Hunters,False,0.000,0,R,2024.0,Action; Science Fiction,Climax Studios; Nova Film; Big Punch Pictures,Concrete Utopia Collection,KR,South Korea,ko,/zVMyvNowgbsBAL6O6esWfRpAcOb.jpg,False,/x5tE4efBksPDNMS65EDQ06tlUi1.jpg,https://www.netflix.com/title/81721676,"[Climax Studios, Nova Film, Big Punch Pictures]"

In [44]:
# # slicing out a test entry from collections
# test = df.iloc[19]['belongs_to_collection']
# test

In [45]:
# # slicing out a test entry from collections
# test2 = df.loc[16]['belongs_to_collection']
# test2

> Unlike production companies, this column has some single dictionary instead of a list of dictionaries, since movies can only belong to 1 collection.

In [46]:
# df[df['belongs_to_collection'].fillna("").str.contains('N\\ ')]

In [47]:
# ## Function to get just the genre names as a list 
# import json

# def get_collection(x):
#     try:
#         x = x.replace('None','"None"')
#         x = x.replace('\\','')

#         x = x.replace("'s",'s')
#         for key in ['id','poster_path','name','backdrop_path']:
#             x = x.replace(f"'{key}'",f'"{key}"')

#         x = x.replace("'",'"')

#         x = json.loads(x)
#     except:
#         return None
    
#     if isinstance(x,dict):
#         collections= x['name']
        
#     elif isinstance(x,list):
#         collections = []
#         for collection in x:
#             collections.append(collection['name'])
#     else:
#         collections = "MISSING"
#     return collections

In [48]:
# ## ADDED 01/10/23 FOR CONFIRMATION ON TIPS TO ADD TO INSTRUCTiONS
# def test_collection(x):
#     try:
#         x = x.replace('None','"None"')
#         x = x.replace('\\','')

#         x = x.replace("'s",'s')
#         for key in ['id','poster_path','name','backdrop_path']:
#             x = x.replace(f"'{key}'",f'"{key}"')

#         x = x.replace("'",'"')

#         x = json.loads(x)
#     except:
#         return "ERROR"
    
#     if isinstance(x,dict):
# #         collections= x['name']
#         return "dict"
        
#     elif isinstance(x,list):
#         return "list"
# #         collections = []
# #         for collection in x:
# #             collections.append(collection['name'])
#     else:
# #         collections = 
#         return "MISSING"

In [49]:
# # test function
# test_collection(test2)

In [50]:
# df['collection_dtype'] = df['belongs_to_collection'].map(test_collection)
# df['collection_dtype'].value_counts(dropna=False, normalize=True)

In [51]:
## Apply the function to the entire column
df['collection'] = df['collection_name']#df['belongs_to_collection'].apply(get_collection)

In [52]:
# check % null values in new column
df['collection'].isna().sum() / len(df)

0.9439280456484596

In [53]:
# compare % null values from orginal column
df['belongs_to_collection'].isna().sum() / len(df)

0.0

In [54]:
df['collection'].value_counts()

Exhibition on Screen Collection             23
Detective Conan Collection                  23
Doraemon Collection                         18
Super Sentai Collection                     15
Troublesome Night Collection                15
                                            ..
The Wailer Collection                        1
The Corpse Grinders Collection               1
Spicy Beauty Queen of Bangkok Collection     1
The Lion Roars Collection                    1
PVCU                                         1
Name: collection, Length: 2567, dtype: int64

### Normalizing/Separating Collections

> Explode not needed since column does not have lists.

In [55]:
df['collection']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
93054    NaN
93055    NaN
93056    NaN
93057    NaN
93058    NaN
Name: collection, Length: 93059, dtype: object

In [56]:
df['collection'].value_counts()

Exhibition on Screen Collection             23
Detective Conan Collection                  23
Doraemon Collection                         18
Super Sentai Collection                     15
Troublesome Night Collection                15
                                            ..
The Wailer Collection                        1
The Corpse Grinders Collection               1
Spicy Beauty Queen of Bangkok Collection     1
The Lion Roars Collection                    1
PVCU                                         1
Name: collection, Length: 2567, dtype: int64

In [57]:
## save unique genres
unique_collections = sorted(df['collection'].dropna().unique())
len(unique_collections)

2567

In [58]:
## create an integer index map for colletion name
collection_map = dict(zip(unique_collections, range(len(unique_collections))))
collection_map

{'#TemanTapiMenikah': 0,
 '... Cameras Collection': 1,
 '..... Is Gone': 2,
 '.hack Collection': 3,
 '10 Days of a Man Collection': 4,
 '10/31 Collection': 5,
 '100 Candles Game Collection': 6,
 '100 Girls/Women Collection': 7,
 '100% Coco Collection': 8,
 '101 Dalmatians (Live-Action) Collection': 9,
 '12 Dogs of Christmas Collection': 10,
 '12 Rounds Collection': 11,
 '14+ (Коллекция)': 12,
 '18+ - Collection': 13,
 '1920 Collection': 14,
 '1981 Collection': 15,
 '2 Days In... Collection': 16,
 '2001 Maniacs Collection': 17,
 '20th Century Boys Collection': 18,
 '28 Days/Weeks Later Collection': 19,
 '3 A.M. Collection': 20,
 '3 Braves Universe': 21,
 '3 Little Pigs collection': 22,
 '3 Way Collection': 23,
 '30 Days of Night Collection': 24,
 '300 Collection': 25,
 '365 Days Collection': 26,
 '4 Horror Tales Collection': 27,
 '4 Kings': 28,
 '4-2-4 Collection': 29,
 '47 Meters Down Collection': 30,
 '47 Ronin Collection': 31,
 '50 Foot Cam Girl': 32,
 '60 Seconds to Die Collection': 33,
 '64 Collection': 34,
 '666 Collection': 35,
 '8 свиданий (Коллекция)': 36,
 'A Bread Factory Collection': 37,
 'A California Christmas Collection': 38,
 'A Chinese Odyssey Collection': 39,
 'A Christmas Prince Collection': 40,
 'A Christmas Story Collection': 41,
 'A Class to Remember Collection': 42,
 "A Dog's Purpose Collection": 43,
 'A Doggone Collection': 44,
 'A Família Natal (Coleção)': 45,
 'A Few Best Men Collection': 46,
 'A Frozen Christmas Collection': 47,
 'A Haunted House Collection': 48,
 'A Haunting on Dice Road: The Hell House Collection': 49,
 'A Man and a Woman Collection': 50,
 'A Menina que Matou os Pais': 51,
 'A Meowy Collection': 52,
 "A Monkey's Tale": 53,
 'A Night in Nude Collection': 54,
 'A Quiet Place Collection': 55,
 'A Second Chance Collection': 56,
 'A Simple Favor Collection': 57,
 'A Very Special Love Collection': 58,
 'A Wicked Ghost Collection': 59,
 'A Wicked Trilogy Collection': 60,
 'A todo tren - Colección': 61,
 'ABCD Collection': 62,
 'AIBOU Collection': 63,
 'AMV Hell': 64,
 'ARCHIE Collection': 65,
 'AVP Collection': 66,
 'Aadu Collection': 67,
 'Aashiqui Collection': 68,
 'Ab Tak Chhappan Collection': 69,
 'About Love Collection': 70,
 'Accident Man Collection': 71,
 'Achtung, fertig Filmreihe': 72,
 'Act Naturally Collection': 73,
 'Action Figures Collection': 74,
 "Active Duty's Double Time Series": 75,
 'Ada Apa Dengan Cinta? Collection': 76,
 'Adam Chaplin Collection': 77,
 'Addio al nubilato - Collezione': 78,
 'Admiral Yi Trilogy': 79,
 'Adventures of Bailey Collection': 80,
 'Adventures of Jurassic Pet Collection': 81,
 'After Collection': 82,
 'After Porn Ends Collection': 83,
 'After School Horror - Collection': 84,
 'Against the Wild Collection': 85,
 'Agent Cody Banks Collection': 86,
 'Ah Boys to Men Collection': 87,
 'Aileen Wuornos Collection': 88,
 'Aileen Wuornos: Broomfield Collection': 89,
 'Ajin Collection': 90,
 'Akihabara Trilogy': 91,
 'Aku Tahu Kapan Kamu Mati - Collection': 92,
 'Aladdin (Live-Action) Collection': 93,
 'Aldo Giovanni e Giacomo Collection': 94,
 'Alejandro Jodorowsky Autobiography Collection': 95,
 'Alemão: Coleção': 96,
 'Alex Cross Collection': 97,
 'Alexandria Quad': 98,
 'Algjör Sveppi': 99,
 'Alibi.com Collection': 100,
 'Alice in Wonderland Collection': 101,
 'Alien Factor Collection': 102,
 'Alien Sex Files': 103,
 'Alienoid Movie Collection': 104,
 'Aliens Ate My Homework Collection': 105,
 "All Hallow's Eve Collection": 106,
 'All Stars Collection': 107,
 'All Superheroes Must Die Collection': 108,
 'All for ...': 109,
 "All's Well, Ends Well Collection": 110,
 'Alligator Ladies Collection': 111,
 'Almighty Collection': 112,
 'Alone in the Dark Collection': 113,
 'Along Came the Devil Collection': 114,
 'Along with the Gods Collection': 115,
 'Alpha and Omega Collection': 116,
 'Alvin and the Chipmunks Collection': 117,
 'Always: Sunset on Third Street Collection': 118,
 'Amateur Porn Star Killer Collection': 119,
 'Ambra Collection': 120,
 'American Addict Collection': 121,
 'American Civil War Collection': 122,
 'American Gospel Collection': 123,
 'American Guinea Pig Collection': 124,
 'American Pie Collection': 125,
 'American Poltergeist': 126,
 'American Psycho Collection': 127,
 'Amityville Scarecrow Collection': 128,
 "Amos Kolek's Women's Trilogy": 129,
 'An American Girl Collection': 130,
 'An Inconvenient Collection': 131,
 'An Unforgettable Year Collection': 132,
 'Anaconda Collection': 133,
 'Analyze Collection': 134,
 'Anatomy Collection': 135,
 'Anatomy of an Antihero Collection': 136,
 'Anchorman Collection': 137,
 'Android Kunjappan Collection': 138,
 'Anděl Páně (kolekce)': 139,
 'Ang Tanging Ina Collection': 140,
 "Angela's Christmas Collection": 141,
 'Angels Fallen Collection (Fantasy Films)': 142,
 'Animal Attraction Collection': 143,
 'Animal Collection': 144,
 'Anja & Viktor Collection': 145,
 'Anna': 146,
 'Annabelle Collection': 147,
 'Annika Bengtzon Collection': 148,
 'Annika Bengtzon Collection (Helena Bergström)': 149,
 'Another Gay Movie Collection': 150,
 'Ant-Man Collection': 151,
 'Antboy Collection': 152,
 'Antelope Valley Collection': 153,
 'Antigang - Saga': 154,
 'Antisocial Collection': 155,
 'Ants in the Pants Collection': 156,
 'Ape vs. Collection': 157,
 'Apocalypse Collection': 158,
 'Appleseed Collection': 159,
 'Aqua Teen Hunger Force Collection': 160,
 'Aquaman Collection': 161,
 'Arabian Nights Collection': 162,
 'Aranmanai Collection': 163,
 'Ardaas Collection': 164,
 'Argo Collection': 165,
 'Armored Trooper VOTOMS Collection': 166,
 'Armour of God Collection': 167,
 'Army of the Dead Collection': 168,
 'Arn Collection': 169,
 'Arpeggio of blue steel': 170,
 'Arsène Lupin (French) Collection': 171,
 'Art of the Devil Collection': 172,
 'Arthur and the Invisibles Collection': 173,
 'Ash Lad Collection': 174,
 'Ashens Collection': 175,
 'Ask Me Anything Collection': 176,
 'Assassination Classroom Collection': 177,
 'Assassination of Novelists (Series)': 178,
 'Asterix & Obelix Live-action Collection': 179,
 'Asterix and Obelix (Animation) Collection': 180,
 'Atlantic Rim Collection': 181,
 'Atlantis Collection': 182,
 'Atlas Shrugged Collection': 183,
 'Atomic Blonde Collection': 184,
 'Attack on Titan (Anime) Collection': 185,
 'Attack on Titan Collection': 186,
 'Attack the Block Collection': 187,
 'Attack the Gas Station Collection': 188,
 'Attraction Collection': 189,
 'Austin Powers Collection': 190,
 'Avatar Collection': 191,
 'Avenger Dogs': 192,
 'Avengers Grimm Collection': 193,
 'Avunu Collection': 194,
 'Axe to Grind Collection': 195,
 'Axegrinder Collection': 196,
 'Axeman Collection': 197,
 'Ayat-ayat Cinta Collection': 198,
 'Aykut Enişte [Seri]': 199,
 'Aşk Tesadüfleri Sever [Seri]': 200,
 'Baaghi Collection': 201,
 'Baby Assassins Collection': 202,
 'Baby Driver Collection': 203,
 'Baby Geniuses Collection': 204,
 'Baby Oopsie Collection': 205,
 'Babysitting Collection': 206,
 'Bad Ass Collection': 207,
 'Bad Ben Collection': 208,
 'Bad Boys Collection': 209,
 'Bad Kids Collection': 210,
 'Bad Moms Collection': 211,
 'Bad Santa Collection': 212,
 'Baishe Srabon and Dwitiyo Purush Collection': 213,
 'Balala the Fairies series': 214,
 'Ballon sur bitume': 215,
 'Bamse Collection': 216,
 'BanG Dream! Episode of Roselia Collection': 217,
 'Bananas!* Collection': 218,
 'Bang Bang Betty Collection': 219,
 'Bang Rajan Collection': 220,
 'Bangarraju Collection': 221,
 'Bangku Kosong - Collection': 222,
 'Barbershop Collection': 223,
 'Barbie & Kendra Collection': 224,
 'Barbie Mariposa Collection': 225,
 'Basic Instinct Collection': 226,
 'Batman (Adam West) Animation Collection': 227,
 'Batman (DC Universe Animated) Collection': 228,
 'Batman: The Long Halloween Collection': 229,
 'Battle Collection': 230,
 'Battle Royale Collection': 231,
 'Battle of the Brides': 232,
 'Bayside Shakedown Collection': 233,
 'Baztán Trilogy': 234,
 'Be My Slave Collection': 235,
 'Bear - Collection': 236,
 'Bearcity Collection': 237,
 'Beautiful Disaster Collection': 238,
 'Beavis and Butt-Head Collection': 239,
 'Becky Collection': 240,
 'Bedroom to Billions': 241,
 'Beef Collection': 242,
 'Before... Collection': 243,
 'Beginnings of the Space Age': 244,
 'Behind Closed Doors Collection': 245,
 'Behind Enemy Lines Collection': 246,
 'Behzat Ç. Collection': 247,
 'Beiyang Trilogy': 248,
 'Believer Collection': 249,
 'Belle & Sebastian': 250,
 "Bennett's Song Collection": 251,
 'Benvenuto Presidente - Collezione': 252,
 'Benyamin The Troublemaker': 253,
 'Berlin Blues Collection': 254,
 'Bernie the Dolphin Collection': 255,
 'Berserk: Golden Age Arc Collection': 256,
 'Best Exotic Marigold Hotel Collection': 257,
 'Best F(r)iends Collection': 258,
 'Beverly Hills Chihuahua Collection': 259,
 "Beyond the Boundary: I'll Be Here Collection": 260,
 'Bhai - Vyakti ki Valli': 261,
 'Bheja Fry Collection': 262,
 'Bhool Bhulaiyaa Collection': 263,
 'Bhoothnath Collection': 264,
 'Bibi & Tina Collection': 265,
 'Bibi Blocksberg Collection': 266,
 'Big Brother Collection': 267,
 'Big Fat Liar Collection': 268,
 'Big Fish & Begonia Collection': 269,
 "Big Momma's House Collection": 270,
 'Bigfoot Collection': 271,
 "Bill & Ted's Most Excellent Collection": 272,
 'Binge Collection': 273,
 'Birbal Trilogy': 274,
 'Bird Box Collection': 275,
 'Birdemic Collection': 276,
 'Bishorjan and Bijoya Collection': 277,
 'Black & White Collection': 278,
 'Black Is Beltza Collection': 279,
 'Black Panther Collection': 280,
 'Black Water Collection': 281,
 'Blade Collection': 282,
 'Blade Runner Collection': 283,
 'Blair Witch Collection': 284,
 'Bleach Collection': 285,
 'Blood Feast Collection': 286,
 'BloodRayne Collection': 287,
 'Bloodbath at Pinky High Collection': 288,
 'Bloodshot Collection': 289,
 'Bloodsucka Jones Collection': 290,
 'Bloodthirst Collection': 291,
 'Bloody Chainsaw Girl Collection': 292,
 'Bloody Nun Collection': 293,
 'Blue Collar Comedy Tour Collection': 294,
 'Blue Crush Collection': 295,
 'Bo Bear Collection': 296,
 'BoBoiBoy Collection': 297,
 'Bob The Cat Collection': 298,
 'Boggy Creek Collection': 299,
 'Bon Bini Holland Collection': 300,
 'Bon Cop Bad Cop Collection': 301,
 'Bonded by Blood Collection': 302,
 'Boogeyman Collection': 303,
 'Book Club Collection': 304,
 'Boon Collection': 305,
 'Boonie Bears Collection': 306,
 'Borat Moviefilms Collection': 307,
 'Bordertown Collection': 308,
 'Borgríki Collection': 309,
 'Boule & Bill': 310,
 'Bound Heat': 311,
 'Boys Briefs Collection': 312,
 'Boys Feels Collection': 313,
 'Boys Life Collection': 314,
 'Boys on Film Collection': 315,
 'Boys/Girls State Collection': 316,
 'Boyz Collection': 317,
 'Brahmāstra Collection': 318,
 'Bratz Collection': 319,
 'Breakout Brothers The Collection': 320,
 'Brice Collection': 321,
 'Bridget Jones Collection': 322,
 'Brigada Z Collection': 323,
 'Bring It On Collection': 324,
 'Broken Blade Collection': 325,
 'Brother Bear Collection': 326,
 'Brother Collection': 327,
 'Brotherhood of Blades Collection': 328,
 'Buddy Games Collection': 329,
 'Bulletproof Collection': 330,
 'Bunker of Blood Collection': 331,
 'Bunnyman Collection': 332,
 'Bunshinsaba Films': 333,
 'Bunty Aur Babli': 334,
 'Buppah Ratree Collection': 335,
 'Burg Schreckenstein Filmreihe': 336,
 'Burnt by the Sun Trilogy': 337,
 'Butch Cassidy Collection': 338,
 'Buya Hamka Collection': 339,
 'Børning Collection': 340,
 'Bāhubali Collection': 341,
 'C.I.Ape Collection': 342,
 'Cabin Fever Collection': 343,
 'Cade Altair Collection': 344,
 'Caesar and Otto Collection': 345,
 'Cal Collection': 346,
 'California Trilogy': 347,
 'Call It in The Air Collection': 348,
 'Camp Blood Collection': 349,
 'Campaign Collection': 350,
 'Camping Collection': 351,
 'Can play that game (Shanté Smith) Collection': 352,
 'Candyman Collection': 353,
 'Captain America Collection': 354,
 'Captain Marvel Collection': 355,
 'Captain Underpants Collection': 356,
 'Cardcaptor Sakura Collection': 357,
 'Carmina Collection': 358,
 'CarousHELL Collection': 359,
 'Carpenter Andersen Collection': 360,
 'Carry on Jatta Collection': 361,
 'Cars Collection': 362,
 'Carters Collection': 363,
 'Carved Collection': 364,
 'Casa da Mãe Joana: Coleção': 365,
 'Casper and Emma Collection': 366,
 'Cat Run Collection': 367,
 'Cats & Dogs Collection': 368,
 'Cattle Hill Collection': 369,
 'Cek Toko Sebelah - Collection': 370,
 'Cementerio General Collection': 371,
 'Center Stage Collection': 372,
 'Chaar Sahibzaade Collection': 373,
 'Chal Mera Putt Collection': 374,
 'Champions - Collection': 375,
 'Chander Pahar Trilogy': 376,
 'Chandramukhi Collection': 377,
 'Chantilly Collection': 378,
 "Charlie's Angels Collection": 379,
 "Charlotte's Web Collection": 380,
 'Charter Trips': 381,
 'Chasing The Dragon Collection': 382,
 'Che Collection': 383,
 'Cheaper by the Dozen (2003) Collection': 384,
 'Cheech & Chong Collection': 385,
 'Cheeni Collection': 386,
 'Cheerleader Camp Collection': 387,
 'Chennai 600028 Collection': 388,
 'Cherry Blossoms': 389,
 'Chhakka Panja Collection': 390,
 'Chibi Maruko-chan Collection': 391,
 'Chicken Run Collection': 392,
 'Chief Daddy Collection': 393,
 'Chihayafuru Collection': 394,
 "Child's Play Collection": 395,
 'Children of the Corn Collection': 396,
 'Chili Palmer Collection': 397,
 'China Victory Trilogy Collection': 398,
 'Chocolate City Collection': 399,
 'Christmas Thieves Collection': 400,
 'Christmas Under the Sea Collection': 401,
 'Chronicle Collection': 402,
 'Cinderella (Animated) Collection': 403,
 'Cinderella Story Collection': 404,
 'Cities of Love Collection': 405,
 'City Hunter (Reboot) Collection': 406,
 'Clash of the Titans Collection': 407,
 'Class Reunion Collection': 408,
 "Class of Nuke 'Em High Collection": 409,
 'Claus Family Collection': 410,
 'Clerks Collection': 411,
 'Clifford the Big Red Dog Collection': 412,
 "Clint Eastwood's Iwo Jima Collection": 413,
 'Cloudy with a Chance of Meatballs Collection': 414,
 'Clown Motel Collection': 415,
 'Club Elite Collection': 416,
 'Clubhouse Detectives Collection': 417,
 'Coboy Junior Collection': 418,
 'Cocaine Cowboys Collection': 419,
 'Coconut The Little Dragon Collection': 420,
 'Code 8 Collection': 421,
 'Code Geass: Akito the Exiled Collection': 422,
 'Code Geass: Lelouch of the Rebellion Recap Film Trilogy': 423,
 'Cold Prey Collection': 424,
 'Cold Pursuit Collection': 425,
 'Cold War Collection': 426,
 'Colección La Tropa de Trapo': 427,
 'Colección Los Lunnis': 428,
 'Colección Scruff': 429,
 'Collection Dorcel - 40 ans': 430,
 "Collection Les 3 p'tits cochons": 431,
 'Collection Les Pee-Wee': 432,
 'Come un gatto in tangenziale - Collezione': 433,
 'Coming to America Collection': 434,
 'Commander Kellie & the Superkids Collection': 435,
 'Commando Collection': 436,
 'Concrete Utopia Collection': 437,
 'Confession Executive Committee (Series)': 438,
 'Confidential Assignment': 439,
 'Conjuring the Genie Collection': 440,
 'Conspiracies: The Hidden Truth Collection': 441,
 'Constantine Collection': 442,
 'Contigo - Colección': 443,
 'Contracted Collection': 444,
 'Cop Universe': 445,
 'Corky St. Clair Collection': 446,
 'Corpse Party Collection': 447,
 'Corpse Prison Collection': 448,
 'Corto Maltese Collection': 449,
 'County Line Collection': 450,
 'Cowboy Filmreihe': 451,
 "Cowgirls n' Angels Collection": 452,
 'Crackerjack Collection': 453,
 'Crank Collection': 454,
 'Crayon Shin-chan Collection': 455,
 'Crazy Collection': 456,
 'Crazy Rich Asians Collection': 457,
 'Crazy Wedding Collection': 458,
 'Creation of the Gods Trilogy': 459,
 'Creed Collection': 460,
 'Creep Collection': 461,
 'Crimes of Passion: The Maria Lang Collection': 462,
 'Crimes of the South': 463,
 'Crocodile Collection': 464,
 'Crocodile Dundee Collection': 465,
 'Cross Collection': 466,
 'Crouching Tiger, Hidden Dragon Collection': 467,
 'Crows Collection': 468,
 'Cruel Summer Collection': 469,
 'Cruella Collection': 470,
 'Cube Collection': 471,
 'Curious George Collection': 472,
 'Cyborg 009 Collection': 473,
 'DAU Cinema': 474,
 'DJ Tillu Collection': 475,
 'DV collection': 476,
 'Dabangg Collection': 477,
 'Dabbe [Seri]': 478,
 'Daddy Day Camp Collection': 479,
 "Daddy's Home Collection": 480,
 'Dan Cleveland Rockumentaries': 481,
 'Danur Collection': 482,
 'Dark Girls Collection': 483,
 'Dark Harvest Collection': 484,
 'Dark Legacy': 485,
 'Dark Night of the Scarecrow Collection': 486,
 'Dark Planet Collection': 487,
 'Dark Web Collection': 488,
 'Dark Woods Collection': 489,
 'Dark World Collection': 490,
 'Darkland Collection': 491,
 'Darko Collection': 492,
 'Darling Collection': 493,
 'Darna Hai Collection': 494,
 'Dave of the Dead Collection': 495,
 'Dawn of the Dragonslayer Collection': 496,
 'De Club van Sinterklaas Collectie': 497,
 'De Pernas Pro Ar - Coleção': 498,
 'Dead Country Collection': 499,
 'Dead Rising Collection': 500,
 'Dead River Collection': 501,
 'Dead Snow Collection': 502,
 'Dead by Midnight Collection': 503,
 'Dead or Alive Collection': 504,
 'Deadlands Collection': 505,
 'Deadly Prey Collection': 506,
 'Deadpool Collection': 507,
 'Deadtime Stories': 508,
 'Dear God No!': 509,
 'Dear Nathan': 510,
 'Death Bell Collection': 511,
 'Death Forest Collection': 512,
 'Death Note Collection': 513,
 'Death Race Collection': 514,
 'Deco Truck Gal Nami': 515,
 'Decoys Collection': 516,
 'Deep Sea Monster Raiga Collection': 517,
 'Demon Slayer: Kimetsu no Yaiba Collection': 518,
 'Demonic Toys Collection': 519,
 'Den lille traktoren Gråtass': 520,
 'Den of Thieves Collection': 521,
 'Department Q Collection': 522,
 'Deportees': 523,
 'Der Vor- und Nachname Filmreihe': 524,
 'Der kleine Rabe Socke Filmreihe': 525,
 'Despicable Me Collection': 526,
 'Detective Chinatown Collection': 527,
 'Detective Conan Collection': 528,
 'Detective Dee Collection (Tsui Hark)': 529,
 'Detective K Collection': 530,
 'Detective Knight Collection': 531,
 'Detective bureau nr. 2': 532,
 'Detective in the Bar': 533,
 'Deuce Bigalow Collection': 534,
 'Devi Collection': 535,
 'Devil in the Flesh Collection': 536,
 'Dhamaal Collection': 537,
 'Dhilluku Dhuddu Collection': 538,
 'Dhoom Collection': 539,
 'Diabolik Collection': 540,
 'Diary of a Wimpy Kid (Animated) Collection': 541,
 'Diary of a Wimpy Kid Collection': 542,
 'Die Hard Collection': 543,
 'Die Vampirschwestern Collection': 544,
 'Digimon Adventure Collection': 545,
 'Digimon Adventure tri. Collection': 546,
 'Digimon Tamers Collection': 547,
 'Dilan': 548,
 "Dinesh Vijan's horror-comedy universe": 549,
 'Dinosaur Hotel': 550,
 'Diplomat Kosaku Kuroda': 551,
 'Dirty Dancing Collection': 552,
 'Dirty Work Collection': 553,
 'District 13 Collection': 554,
 'Divergent Collection': 555,
 'Divã: Coleção': 556,
 'Doctor Carver / Conjuring the Plastic Surgeon Collection': 557,
 'Doctor Mabuse Collection': 558,
 'Doctor Strange Collection': 559,
 'Dog Town Collection': 560,
 'Dogma 95 Manifesto': 561,
 'Doktor Proktor Filmreihe': 562,
 'Dolemite Collection': 563,
 'Dolphin Tale Collection': 564,
 'Don Collection': 565,
 "Don't Breathe Collection": 566,
 "Don't Fuck in the Woods Collection": 567,
 "Don't Go Breaking My Heart Collection": 568,
 'Doom Collection': 569,
 'Doraemon Collection': 570,
 'Dorf': 571,
 'Dorm Daze Collection': 572,
 'Dostana Collection': 573,
 'Downton Abbey Collection': 574,
 'Dr. Dolittle Collection': 575,
 'Dracula 2000 Collection': 576,
 'Dracula Collection': 577,
 'Dragon Ball Super Collection': 578,
 'Dragon Force Collection': 579,
 'Dragon Fury Collection': 580,
 'Dragon Inn': 581,
 'Dragon Loaded Collection': 582,
 'Dragon Nest Collection': 583,
 'DragonHeart Collection': 584,
 'Dream Girl Collection': 585,
 'Drishya Collection': 586,
 'Drishyam Collection': 587,
 'Drumline Collection': 588,
 'Drushyam Collection': 589,
 'Ducobu Collection': 590,
 'Dulhania Collection': 591,
 'Dumb and Dumber Collection': 592,
 'Dummie the Mummy Collection': 593,
 'Dune Collection': 594,

In [59]:
df.head()

,belongs_to_collection,budget,id,imdb_id,original_language,original_title,overview,popularity,release_date,revenue,runtime,status,tagline,title,video,vote_average,vote_count,certification,Release Year,genre_names,production_companies_names,collection_name,production_countries_iso,production_countries_name,spoken_language_iso,poster_path,adult,backdrop_path,homepage,production_company_list,collection
0,False,10000000,62127,tt0113026,en,The Fantasticks,Two rural teens sing and dance their way through a forbidden romance and a dangerous travelling carnival.,2.559,2000-09-22,0,86,Released,Try to remember the first time magic happened,The Fantasticks,False,5.500,22,NaN,2000.0,Comedy; Music; Romance,"Sullivan Street Productions; Michael Ritchie Productions; Radmin Company, The; United Artists",NaN,US,United States of America,en,/hfO64mXz3DgUxkBVU7no2UWRP7x.jpg,False,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,"[Sullivan Street Productions, Michael Ritchie Productions, Radmin Company, The, United Artists]",NaN
1,False,0,110977,tt0113092,en,For the Cause,Earth is in a state of constant war and two colonies of humans have been sent to a far away world. The colonists create a new civilization but have inherited the worst traits of their forebears and war breaks out leaving the new cities in ruins. It falls to a bunch of teens to bring peace to the...,3.393,2000-11-15,0,100,Released,The ultimate showdown on a forbidden planet.,For the Cause,False,4.958,12,NaN,2000.0,Science Fiction,Dimension Films; Grand Design Entertainment; Martien Holdings A.V.V.; Nu Image,NaN,US,United States of America,en,/h9bWO13nWRGZJo4XVPiElXyrRMU.jpg,False,NaN,NaN,"[Dimension Films, Grand Design Entertainment, Martien Holdings A.V.V., Nu Image]",NaN
2,False,0,442869,tt0116391,hi,Gang,"After falling prey to underworld, four friends jeopardise their personal lives with point of no return.",2.748,2000-04-14,0,165,Released,NaN,Gang,False,5.000,2,NaN,2000.0,Drama; Action; Crime,NaN,NaN,IN,India,hi,/dYcuiiBDpPUvCcPbiWdH4REjGn3.jpg,False,/krEZg9tb6blhc7sV6Us2ZGQ0gA.jpg,NaN,NaN,NaN
3,False,150000,843,tt0118694,cn,花樣年華,Two neighbors become intimate after discovering that their spouses are having an affair with one another.,27.940,2000-09-29,14204632,99,Released,"Feel the heat, keep the feeling burning, let the sensation explode.",In the Mood for Love,False,8.109,2433,PG,2000.0,Drama; Romance,Block 2 Pictures; Orly Films; Jet Tone Films; Paradis Films; Fortissimo Films,NaN,FR; HK; NL; CN,France; Hong Kong; Netherlands; China,cn; fr; es,/iYypPT4bhqXfq1b6EnmxvRt6b2Y.jpg,False,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,"[Block 2 Pictures, Orly Films, Jet Tone Films, Paradis Films, Fortissimo Films]",NaN
4,False,0,49511,tt0118852,en,Chinese Coffee,"When Harry Levine, an aging, unsuccessful Greenwich Village writer, is fired from his job as restaurant doorman, he calls on friend and mentor Jake, ostensibly to collect a long-standing debt.",5.495,2000-09-02,0,99,Released,There's a fine line between friendship and betrayal.,Chinese Coffee,False,6.600,56,R,2000.0,Drama,Chal Productions; The Shooting Gallery,NaN,US,United States of America,en,/nZGWnSuf1FIuzyEuMRZHHZWViAp.jpg,False,/vceiGZ3uavAEHlTA7v0GjQsGVKe.jpg,NaN,"[Chal Productions, The Shooting Gallery]",NaN

#### Make title-collection table

In [60]:
df_title_collection = df[['imdb_id','collection']]
df_title_collection

         imdb_id collection
0      tt0113026        NaN
1      tt0113092        NaN
2      tt0116391        NaN
3      tt0118694        NaN
4      tt0118852        NaN
...          ...        ...
93054  tt8736506        NaN
93055  tt9214772        NaN
93056  tt9357860        NaN
93057  tt9680562        NaN
93058  tt9682428        NaN

[93059 rows x 2 columns]

In [61]:
df_title_collection.isna().sum()

imdb_id           0
collection    87841
dtype: int64

> We do not want to store null values in this table in our database, so drop the null values.

In [62]:
## Drop null values
df_title_collection = df_title_collection.dropna()
df_title_collection.isna().sum()

imdb_id       0
collection    0
dtype: int64

In [63]:
# Add the integer ids for collections
df_title_collection['collection_id'] = df_title_collection['collection'].map(collection_map)
df_title_collection

/var/folders/rf/vw4r41jd7vd95x1w0dth7v9h0000gp/T/ipykernel_5290/2497390660.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_title_collection['collection_id'] = df_title_collection['collection'].map(collection_map)

          imdb_id                                 collection  collection_id
5       tt0119273                     Heavy Metal Collection            853
14      tt0120630                     Chicken Run Collection            392
18      tt0120755             Mission: Impossible Collection           1284
19      tt0120903                           X-Men Collection           2473
21      tt0120917        The Emperor's New Groove Collection           2023
...           ...                                        ...            ...
92926  tt26546123              Beautiful Disaster Collection            238
92932  tt27110516                        One Shot Collection           1422
92951  tt28105944               Through My Window Collection           2274
92968  tt29195117  Justice League (Tomorrowverse) Collection           1013
92975  tt29722855                 Concrete Utopia Collection            437

[5218 rows x 3 columns]

In [64]:
## Saving the collection map dictionary as separate table
df_collection = pd.DataFrame({'collection_id':collection_map.values(), 
                              'collection_name':collection_map.keys()})
df_collection

      collection_id              collection_name
0                 0            #TemanTapiMenikah
1                 1       ... Cameras Collection
2                 2                ..... Is Gone
3                 3             .hack Collection
4                 4  10 Days of a Man Collection
...             ...                          ...
2562           2562                         黒い乙女
2563           2563                      몽정기 시리즈
2564           2564                  반드시 크게 들을 것
2565           2565                       식객 시리즈
2566           2566                    신비아파트 시리즈

[2567 rows x 2 columns]

> [Click here](#new2) to jump to loading the new tables into the mysql database.

# LOAD

## Connect to Amazon RDS (MySQL)

In [65]:
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
from sqlalchemy.types import *
from urllib.parse import quote_plus

In [66]:
quote_plus("tr@ing ")

'tr%40ing+'

In [67]:
## Getting mysql server password
import json
with open('/Users/codingdojo/.secret/aws-personal.json') as f:
    login = json.load(f)

login.keys()

dict_keys(['username', 'password', 'port', 'host', 'database'])

In [68]:
## create a new movies database
# connect_str = f"mysql+pymysql://{login['user']}:{login['password']}@localhost/movies"
host = login['host']
port = login['port']
password = quote_plus(login['password'])
username = login['username']
db_name = login['database']
connect_str = f"mysql+pymysql://{username}:{password}@{host}:{port}/{db_name}"
# connect_str

In [69]:
# ## create a new movies database
# # connect_str = f"mysql+pymysql://{login['user']}:{login['password']}@localhost/movies"
# connect_str = f"mysql+pymysql://{login['user']}:{login['password']}@localhost/{DB_NAME}"

In [70]:
database_exists(connect_str)

True

In [71]:
## Check if database exists, if not, create it
if database_exists(connect_str) == False:
    print("Creating the database.")
    create_database(connect_str)
else:
    print('The database already exists.')

The database already exists.

In [72]:
## create engine
engine = create_engine(connect_str)
conn = engine.connect()

In [73]:
## Test your connection by checking for any tables that exist (there should be none at this point)
q = """SHOW TABLES;"""
tables = pd.read_sql(q, conn)
tables

         Tables_in_movies-db
0                collections
1                     genres
2                name_basics
3            name_characters
4        name_knownForTitles
5           name_professions
6       production_companies
7                    reviews
8               title_basics
9           title_collection
10                title_crew
11              title_genres
12          title_principals
13  title_production_company
14             title_ratings
15                      tmdb

### Saving`title_basics` to db

In [74]:
basics_schema = get_schema(basics)
basics_schema

{'tconst': String(length=11),
 'primaryTitle': String(length=209),
 'startYear': Float(),
 'runtimeMinutes': Integer()}

In [ ]:
## Saving basics as table with schema,
basics.to_sql('title_basics',conn,dtype=basics_schema,if_exists='replace',index=False)

## setting title basics as the primary key
conn.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

In [ ]:
## query first rows 
q = """SELECT * FROM title_basics LIMIT 5"""
pd.read_sql(q,conn)

### Saving Genre Tables

#### Saving genre_lookup

In [ ]:
genre_schema = get_schema(genre_lookup)
genre_schema

In [ ]:
genre_lookup.head()

In [ ]:
## Primary key is Genre_ID
genre_lookup.to_sql('genres',conn,index=False,  if_exists='replace')

conn.execute('ALTER TABLE genres ADD PRIMARY KEY (`Genre_ID`);')

In [ ]:
q = """SELECT * FROM genres LIMIT 5"""
pd.read_sql(q,conn)

#### Saving `title_genres` table

In [ ]:
## NO PRIMARY KEY - DUPLCIATE VALUES
title_genres.to_sql('title_genres',conn,index=False,
                    if_exists='replace' )

# conn.execute('ALTER TABLE title_genres ADD PRIMARY KEY (`tconst`);')

In [ ]:
q = """SELECT * FROM title_genres LIMIT 5"""
pd.read_sql(q,conn)

### Saving `title_ratings`

In [ ]:
# ratings_schema = {'tconst':String(key_len+1), 
#                  'averageRating':Float(),
#                  'numVotes':Integer()}#get_schema(ratings)
ratings_schema = get_schema(ratings)
ratings_schema

In [ ]:
ratings.to_sql('title_ratings',conn,if_exists='replace',index=False,
              dtype=ratings_schema)
conn.execute("ALTER TABLE title_ratings ADD PRIMARY KEY (`tconst`)")

In [ ]:
q = """SELECT * FROM title_ratings LIMIT 5"""
pd.read_sql(q,conn)

### Saving TMDB API Data

In [ ]:
df.info()
df.head()

# ⭐️ **Saving New TMDB API Tables**
<a id='new2'></a>

### Saving Production Company Tables

- Tables to save:
    - title_companies 
    - companies

In [ ]:
df_title_companies

#### `title_company`

In [ ]:
table_title_company = df_title_companies.drop(columns=['production_company_list']) 
table_title_company.isna().sum()

In [ ]:
table_title_company = table_title_company.dropna()
table_title_company['company_id'] = table_title_company['company_id'].astype(int)
table_title_company

In [ ]:
## saving text length
key_len = table_title_company['imdb_id'].map(len).max()

## saving schema
api_data_schema = {'imdb_id':String(key_len+1)}
api_data_schema

In [ ]:
# saving mvp version
## Primary key is Genre_ID
table_title_company.to_sql('title_production_company',conn, 
                           index=False,dtype=api_data_schema, 
                           if_exists='replace')

#### `companies`

In [ ]:
table_companies = df_company.copy()
table_companies

In [ ]:
# saving mvp version
## Primary key is Genre_ID
table_companies.to_sql('production_companies',conn, index=False,dtype=api_data_schema, if_exists='replace')

### Saving Collections Tables


- Tables to save:
    - title_collection
    - collections

#### `title_collections`

In [ ]:
df_title_collection

In [ ]:
table_title_collection = df_title_collection.drop(columns=['collection']) 
table_title_collection.isna().sum()

In [ ]:
table_title_collection = table_title_collection.dropna()
table_title_collection['collection_id'] = table_title_collection['collection_id'].astype(int)
table_title_collection

In [ ]:
# ## saving text length
# key_len = table_title_collection['imdb_id'].map(len).max()
# ## saving schema
# api_data_schema = {'imdb_id':String(key_len+1)}
# api_data_schema
schema = get_schema(table_title_collection)
schema

In [ ]:
# saving mvp version
## Primary key is Genre_ID
table_title_collection.to_sql('title_collection',conn, index=False,dtype=schema, if_exists='replace')

#### `collections`

In [ ]:
table_collections = df_collection
table_collections

In [ ]:
# saving mvp version
table_collections.to_sql('collections',conn, index=False,
                         dtype=get_schema(table_collections),
                         if_exists='replace')

## Original TMDB API Data Tables (Stack 4)

In [ ]:
# df['budget']

In [ ]:
## Convert financial cols to float (error?)
df['revenue'] = pd.to_numeric(df['revenue'], errors='coerce')#.astype(float)
df['budget'] = pd.to_numeric(df['budget'], errors='coerce')#.astype(float)

In [ ]:
## New 01/22/24 cleaning certification
df['certification'] = df['certification'].str.strip()
df['certification'].value_counts(dropna=False)

In [ ]:
df

In [ ]:
## Keeping some columns
cols_to_keep = ['imdb_id','id',#New
                'budget','revenue','certification',
                'original_title', #New
                'poster_path','tagline',
                'original_language','release_date','popularity','vote_average',
               'vote_count']
mvp = df[cols_to_keep]
mvp

In [ ]:
mvp.isna().sum()

In [ ]:
mvp

In [ ]:
## get schema
api_data_schema = get_schema(mvp)#.fillna('MISSING'))
api_data_schema

In [ ]:
api_data_schema

In [ ]:
mvp.duplicated(subset=['id']).sum()

In [ ]:
mvp = mvp.drop_duplicates(subset=['id'])
mvp.duplicated(subset=['id']).sum()

## 👉🚨 Revisit dropping duplicates if final db is missing data

In [ ]:
mvp.duplicated(subset=['imdb_id']).sum()

In [ ]:
mvp = mvp.drop_duplicates(subset=['imdb_id'])
mvp

In [ ]:
mvp.info()

In [ ]:
# saving mvp version
## Primary key is Genre_ID
mvp.to_sql('tmdb',conn, index=False,dtype=api_data_schema, if_exists='replace')
conn.execute('ALTER TABLE tmdb ADD PRIMARY KEY (`id`);') # New 01-2024 - changing to id

In [ ]:
q = """SELECT * FROM tmdb LIMIT 5"""
pd.read_sql(q,conn)

In [ ]:
df.head()

# Final Tables Check

In [ ]:
## Test your connection by checking for any tables that exist (there should be none at this point)
q = """SHOW TABLES;"""
pd.read_sql(q, conn)

# ⭐️ **New: Exporting IMDB crew/principals/names**
<a id='new-imdb'></a>

## Connect to MySQL

In [ ]:
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
from sqlalchemy.types import *

In [ ]:
# ## Getting mysql server password
# import json
# with open('/Users/codingdojo/.secret/mysql.json') as f:
#     login = json.load(f)

# login.keys()

In [ ]:
# ## create a new movies database
# # connect_str = f"mysql+pymysql://{login['user']}:{login['password']}@localhost/movies"
# connect_str = f"mysql+pymysql://{login['user']}:{login['password']}@localhost/{DB_NAME}"

In [ ]:
# ## Check if database exists, if not, create it
# if database_exists(connect_str) == False:
#     print("Creating the database.")
#     create_database(connect_str)
# else:
#     print('The database already exists.')

In [ ]:
## create engine
engine = create_engine(connect_str)
conn = engine.connect()

In [ ]:
## Test your connection by checking for any tables that exist (there should be none at this point)
q = """SHOW TABLES;"""
tables = pd.read_sql(q, conn)
tables

## title_principals

In [ ]:
title_princ = pd.read_csv('Data/title_principals.csv.gz')
title_princ

### Normalization Required:

- `table_title_principals`: 
    - keep columns:
        - tconst
        - ordering
        - nconst
        - categor
        - and job.
- `table_name_characters':
    - make new df with copy of nconst & characters
    - explode characters column
    - **not going to bother normalizing character names*

### `table_name_chars`

In [ ]:
name_chars = title_princ[['nconst','characters']]
name_chars = name_chars[~name_chars['characters'].str.contains(r'\\N')]
name_chars

In [ ]:
import json
name_chars['characters'] = name_chars['characters'].apply(lambda x: json.loads(x))
name_chars

In [ ]:
table_name_chars = name_chars.explode('characters')
table_name_chars

In [ ]:
schema = get_schema(table_name_chars)
schema

In [ ]:
# saving mvp version
## Primary key is Genre_ID
table_name_chars.to_sql('name_characters',conn, index=False,
                        dtype=schema, if_exists='replace')

In [ ]:
## query first rows 
q = """SELECT * FROM name_characters LIMIT 5"""
pd.read_sql(q,conn)

### `table_title_principals`

In [ ]:
title_princ = title_princ.drop(columns='characters')
title_princ

In [ ]:
schema = get_schema(title_princ)
title_princ.to_sql('title_principals',conn, index=False,
                        dtype=schema, if_exists='replace')

In [ ]:
## query first rows 
q = """SELECT * FROM title_principals LIMIT 5"""
pd.read_sql(q,conn)

## names_basics

In [ ]:
names = pd.read_csv("Data/name_basics.csv.gz")
names

### Normalization Required:
-  Make `table_name_basics` using:
    - nconst
    - primaryName
    - birthYear
    - deathYear

- `table_name_professions`:
    - nconst
    - primaryProfession
        - split and explode profession
        
- **maybe?** `table_name_knownfortitles`:
    - nconst
    - knownForTitles
        - split and explode knownForTitles

In [ ]:
table_name_basics = names[['nconst','primaryName','birthYear','deathYear']]
table_name_basics

###  `table_name_basics`

In [ ]:
schema = get_schema(table_name_basics)
schema

In [ ]:
## Saving basics as table with schema,
table_name_basics.to_sql('name_basics',conn,dtype=schema,
                         if_exists='replace',index=False)

## setting title basics as the primary key
engine.execute('ALTER TABLE name_basics ADD PRIMARY KEY (`nconst`);')

In [ ]:
## query first rows 
q = """SELECT * FROM name_basics LIMIT 5"""
pd.read_sql(q,conn)

### `table_name_professions`

In [ ]:
table_name_profs = names[['nconst','primaryProfession']]
table_name_profs['primaryProfession_list'] = table_name_profs['primaryProfession'].str.split(',')
table_name_profs

In [ ]:
table_name_profs = table_name_profs.explode('primaryProfession_list')[['nconst','primaryProfession_list']]
table_name_profs

In [ ]:
table_name_profs = table_name_profs.rename({'primaryProfession_list':'profession'},axis=1)
table_name_profs

In [ ]:
schema = get_schema(table_name_profs)
table_name_profs.to_sql('name_professions',conn, index=False,
                        dtype=schema, if_exists='replace')

In [ ]:
## query first rows 
q = """SELECT * FROM name_professions LIMIT 5"""
pd.read_sql(q,conn)

### `table_name_knownfortitles`

In [ ]:
name_known = names[['nconst','knownForTitles']]
name_known['knownForTitles'] = name_known['knownForTitles'].str.split(',')
name_known

In [ ]:
table_name_known = name_known.explode('knownForTitles')
table_name_known

In [ ]:
schema = get_schema(table_name_known)
table_name_known.to_sql('name_knownForTitles',conn, index=False,
                        dtype=schema, if_exists='replace')

In [ ]:
## query first rows 
q = """SELECT * FROM name_knownForTitles LIMIT 5"""
pd.read_sql(q,conn)

## title_crew

In [ ]:
title_crew = pd.read_csv('Data/title_crew.csv.gz')
title_crew

- APPROACH:
    - create an exploded and melted datafames
    - final table will have:
        - `tconst`
        - `nconst`
        - `role` (director/writer)

In [ ]:
## Melt the title_crew table using tconst as the id_vars
title_crew_melt = pd.melt(title_crew, id_vars='tconst', 
                         var_name='role', value_name='nconst')

## Replacing origninal "Directors" and "Writers" column names with single
roles_to_replace = {'directors':'director', 'writers':'writer'}
title_crew_melt['role'] = title_crew_melt['role'].replace(roles_to_replace)
title_crew_melt

In [ ]:
title_crew_melt['nconst'] =  title_crew_melt['nconst'].str.split(',')
title_crew_melt

In [ ]:
table_title_crew = title_crew_melt.explode('nconst')
table_title_crew

In [ ]:
schema = get_schema(table_title_crew)
table_title_crew.to_sql('title_crew',conn, index=False,
                        dtype=schema, if_exists='replace')

In [ ]:
## query first rows 
q = """SELECT * FROM title_crew LIMIT 5"""
pd.read_sql(q,conn)

# Final Check

In [ ]:
q = """SHOW TABLES"""
pd.read_sql(q,conn)

# [New 01/2024] Adding Reviews to SQL Database

In [ ]:
# import glob
# review_files = sorted(glob.glob("Data-NLP/*review*.json"))
# # review_files = df['reviews_file'].dropna().to_list()
# # review_files = reviews_files_df['filename'].to_list()
# len(review_files)

In [ ]:
# # Loading all reviews from json 
# loaded = []

# for file in review_files:
#     temp = pd.read_json(file)
#     loaded.append(temp)

# reviews = pd.concat(loaded)
reviews = pd.read_csv("Data-NLP/combined-tmdb-movie-reviews.csv.gz")

reviews.info()

In [ ]:
reviews.duplicated().sum()

In [ ]:
reviews = reviews.drop_duplicates()
reviews

In [ ]:
import missingno
missingno.matrix(reviews)

In [ ]:
reviews.duplicated('review_id').sum()

In [ ]:
# Dropna and rename columns
reviews = reviews.dropna(subset=['review_text'])
reviews = reviews.rename({'author_rating':'rating'},axis=1)
reviews

In [ ]:
reviews.duplicated('review_id').sum()

In [ ]:
 missingno.matrix(reviews)

In [ ]:
# fpath_reviews =

In [ ]:
## Prepare for MySQL

In [ ]:
schema = get_schema(reviews)
schema

In [ ]:
reviews.to_sql('reviews',conn, index=False,
                        dtype=schema, if_exists='replace')

# Test Database

In [ ]:
q= 'SHOW TABLES'
pd.read_sql(q, conn)

In [ ]:
q= """DESCRIBE reviews"""
pd.read_sql(q, conn)

In [ ]:
q= """DESCRIBE title_basics"""
pd.read_sql(q, conn)

In [ ]:
q= """DESCRIBE tmdb"""
pd.read_sql(q, conn)

In [ ]:
# q = """SELECT * FROM title_basics tb
# JOIN tmdb ON tb.tconst """

In [ ]:
# q =  """select """