# Part 3 - ETL & MySQL Database

Your stakeholder wants you to take the data you have been cleaning and collecting in Parts 1 &amp; 2 of the project, and wants you to create a MySQL database for them.
<p>You should normalize the tables as best you can before adding them to your new database.</p>
<ul>
<li>Note: an important exception to their request is that they would like you to keep all of the data from the TMDB API in 1 table together (even though it will not be perfectly normalized).&nbsp;&nbsp;</li><li>You only need to keep the imdb_id, revenue, budget, and certification columns</li>
</ul>
</li>
</ul>
<h4>Required Transformation steps:</h4>
<ul>
<li>
<p><strong>Normalize Genre:</strong></p>
<ul>
<li>Convert the single string of genres from title basics into 2 new tables.
<ol>
<li>
<p><code>title_genres</code>:  with the columns:</p>
<ul>
<li>tconst</li>
<li>genre_id</li>
</ul>
</li>
<li>
<p><code>genres</code>:</p>
<ul>
<li>genre_id</li>
<li>genre_name</li>
</ul>
</li>
</ol>
</li>
</ul>
</li>
<li>
<p><strong>Discard unnecessary information:</strong></p>
<ul>
<li>For the <code>title basics</code> table, drop the following columns:
<ul>
<li>"original_title" (we will use the primary title column instead)</li>
<li>"isAdult" ("Adult" will show up in the genres so this is redundant information).</li>
<li>"titleType" (every row will be a movie).</li>
<li>"genres" and other variants of genre (genre is now represented in the 2 new tables described above.</li>
</ul>
</li>
<li>Do not include the <code>title_akas</code> table in your SQL database.
<ul>
<li>You have already filtered out the desired movies using this table and the remaining data is mostly nulls and not of-interest to the stakeholder.</li>
</ul>
</li>
</ul>
</li>
</ul>
<h4>MySQL Database Requirements</h4>
<ul>
<li>
<p>Use sqlalchemy with pandas to execute your SQL queries inside your notebook.</p>
</li>
<li>
<p>Create a new database on your MySQL server and  call it "movies".</p>
</li>
<li>
<p>Make sure to have the following tables in your "movies" database:</p>
<ul>
<li><code>title_basics</code></li>
<li><code>title_ratings</code></li>
<li><code>title_genres</code></li>
<li><code>genres</code></li>
<li><code>tmdb_data</code></li>
</ul>
</li>
<li>
<p>Make sure to set a Primary Key for each table.</p>
</li>
<li>
<p>After creating each table, show the first 5 rows of that table using a SQL query.</p>
</li>
<li>
<p>Make sure to run the "SHOW TABLES" SQL query at the end of your notebook to show that all required tables have been created.</p></li>
</ul>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os,json
import missingno as ms

plt.rcParams['figure.facecolor'] = 'white'

pd.set_option('display.max_columns',100)

In [2]:
## Folder to save IMDB files
FOLDER = "Data/"
# os.makedirs(FOLDER,exist_ok=True)
sorted(os.listdir(FOLDER))

['.DS_Store',
 'For Tableau',
 'combined_tmdb_api_data.csv.gz',
 'final_tmdb_data_2000.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 'final_tmdb_data_2002.csv.gz',
 'final_tmdb_data_2003.csv.gz',
 'final_tmdb_data_2004.csv.gz',
 'final_tmdb_data_2005.csv.gz',
 'final_tmdb_data_2006.csv.gz',
 'final_tmdb_data_2007.csv.gz',
 'final_tmdb_data_2008.csv.gz',
 'final_tmdb_data_2009.csv.gz',
 'final_tmdb_data_2010.csv.gz',
 'final_tmdb_data_2011.csv.gz',
 'final_tmdb_data_2012.csv.gz',
 'final_tmdb_data_2013.csv.gz',
 'final_tmdb_data_2014.csv.gz',
 'final_tmdb_data_2015.csv.gz',
 'final_tmdb_data_2016.csv.gz',
 'final_tmdb_data_2017.csv.gz',
 'final_tmdb_data_2018.csv.gz',
 'final_tmdb_data_2019.csv.gz',
 'final_tmdb_data_2020.csv.gz',
 'final_tmdb_data_2021.csv.gz',
 'final_tmdb_data_2022.csv.gz',
 'title_akas_cleaned.csv.gz',
 'title_basics_cleaned.csv.gz',
 'title_ratings_cleaned.csv.gz',
 'tmdb_api_results_2000.json']

## Extract: Loading Previous Data

### Title Basics

In [3]:
## title basics
basics = pd.read_csv(f'{FOLDER}title_basics_cleaned.csv.gz',low_memory=False)
basics.info()
basics.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116404 entries, 0 to 116403
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          116404 non-null  object
 1   titleType       116404 non-null  object
 2   primaryTitle    116404 non-null  object
 3   originalTitle   116404 non-null  object
 4   isAdult         116404 non-null  int64
 5   startYear       116404 non-null  float64
 6   runtimeMinutes  116404 non-null  int64
 7   genres          116404 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 7.1+ MB

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020.0,70,Drama
2,tt0067683,movie,Workers '71: Nothing About Us Without Us,Robotnicy 1971 - Nic o nas bez nas,0,2006.0,47,Documentary
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,122,Drama
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,100,"Comedy,Horror,Sci-Fi"

### Title Ratings

In [4]:
## title ratings
ratings = pd.read_csv(f"{FOLDER}/title_ratings_cleaned.csv.gz",low_memory=False)
ratings.info()
ratings.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87817 entries, 0 to 87816
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         87817 non-null  object
 1   averageRating  87817 non-null  float64
 2   numVotes       87817 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 2.0+ MB

      tconst  averageRating  numVotes
0  tt0035423            6.4     85245
1  tt0062336            6.4       163
2  tt0067683            6.4        90
3  tt0069049            6.7      7435
4  tt0088751            5.2       327

### TMDB API Results

- Students should have combined the years 2000 and 2001 as part of Part 2. I forgot to do so so I am doing here

In [5]:
## INSTRUCTOR CODE (not taught to students)
import glob
q = f"{FOLDER}final*.csv.gz"
files = glob.glob(q)
files

['Data/final_tmdb_data_2006.csv.gz',
 'Data/final_tmdb_data_2018.csv.gz',
 'Data/final_tmdb_data_2014.csv.gz',
 'Data/final_tmdb_data_2022.csv.gz',
 'Data/final_tmdb_data_2008.csv.gz',
 'Data/final_tmdb_data_2016.csv.gz',
 'Data/final_tmdb_data_2004.csv.gz',
 'Data/final_tmdb_data_2020.csv.gz',
 'Data/final_tmdb_data_2000.csv.gz',
 'Data/final_tmdb_data_2012.csv.gz',
 'Data/final_tmdb_data_2010.csv.gz',
 'Data/final_tmdb_data_2002.csv.gz',
 'Data/final_tmdb_data_2019.csv.gz',
 'Data/final_tmdb_data_2007.csv.gz',
 'Data/final_tmdb_data_2015.csv.gz',
 'Data/final_tmdb_data_2021.csv.gz',
 'Data/final_tmdb_data_2017.csv.gz',
 'Data/final_tmdb_data_2009.csv.gz',
 'Data/final_tmdb_data_2005.csv.gz',
 'Data/final_tmdb_data_2001.csv.gz',
 'Data/final_tmdb_data_2013.csv.gz',
 'Data/final_tmdb_data_2011.csv.gz',
 'Data/final_tmdb_data_2003.csv.gz']

In [6]:
## INSTRUCTOR CODE (not taught to students)
df = pd.concat([pd.read_csv(f, lineterminator='\n') for f in files])
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78397 entries, 0 to 1516
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  78397 non-null  bool
 1   backdrop_path          43654 non-null  object
 2   belongs_to_collection  3943 non-null   object
 3   budget                 78397 non-null  int64
 4   genres                 78397 non-null  object
 5   homepage               21370 non-null  object
 6   id                     78397 non-null  int64
 7   imdb_id                78397 non-null  object
 8   original_language      78397 non-null  object
 9   original_title         78397 non-null  object
 10  overview               76518 non-null  object
 11  popularity             78397 non-null  float64
 12  poster_path            68663 non-null  object
 13  production_companies   78397 non-null  object
 14  production_countries   78397 non-null  object
 15  release_date           76442 non-null  object
 16  revenue                78397 non-null  int64
 17  runtime                76952 non-null  float64
 18  spoken_languages       78397 non-null  object
 19  status                 78397 non-null  object
 20  tagline                26818 non-null  object
 21  title                  78397 non-null  object
 22  video                  78397 non-null  bool
 23  vote_average           78397 non-null  float64
 24  vote_count             78397 non-null  int64
 25  certification          16961 non-null  object
dtypes: bool(2), float64(3), int64(4), object(17)
memory usage: 15.1+ MB

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,False,NaN,NaN,100000,[],NaN,30356,tt0144280,en,Whispers from a Shallow Grave,"When a beautiful photo model disappears, polic...",0.714,/cjRqAh3u2Z0MBx9GtT1k7Z9732w.jpg,[],"[{'iso_3166_1': 'US', 'name': 'United States o...",1997-01-01,0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Whispers from a Shallow Grave,False,2.0,2,NaN
1,False,/1hGrzTajJ5JC6VfPzrUj8Gj5t5k.jpg,NaN,0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",NaN,58520,tt0197633,en,Live Freaky Die Freaky,It is the year 3069 and the Earth has been rob...,1.957,/qt7IVXzGca5wS68WZ6PBWHkTcMz.jpg,[],"[{'iso_3166_1': 'US', 'name': 'United States o...",2006-01-31,0,75.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Live Freaky Die Freaky,False,3.8,8,NR
2,False,/qKiOZMJH9Riqlk2SkUOgSMZHHJu.jpg,NaN,0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 35, '...",NaN,459563,tt0204250,en,Death of a Saleswoman,Top-ranking RubberTubber saleswoman Agatha J. ...,0.676,/tIfllOpkhZl5sbqZd1X77iiaJDj.jpg,"[{'id': 90905, 'logo_path': None, 'name': 'Gir...","[{'iso_3166_1': 'US', 'name': 'United States o...",2006-09-18,0,77.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,6 housewives. 1 dead body. A trunk full of pla...,Death of a Saleswoman,False,3.0,1,NaN
3,False,/z8FzomPxfCb2nv827VWLSI6oYiB.jpg,NaN,76000000,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",http://www.universalstudiosentertainment.com/c...,9693,tt0206634,en,Children of Men,"In 2027, in a chaotic world in which humans ca...",18.314,/k9IAS4TehZFcKi4HVByxZNPfqex.jpg,"[{'id': 33, 'logo_path': '/8lvHyhjr8oUKOOy2dKX...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",2006-09-22,70595464,109.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The future's a thing of the past.,Children of Men,False,7.6,5794,R
4,False,/4W53mm2nvOtiOuPNW2oiBm9pmUZ.jpg,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",NaN,9925,tt0244521,en,Funny Money,"Henry Perkins, a mild-mannered accountant, acc...",4.218,/oG3jWUZiDqqrdk3oKwPEkuwoN89.jpg,"[{'id': 110622, 'logo_path': None, 'name': 'FW...","[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'is...",2006-01-01,0,98.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Henry Perkins accidentally trades briefcases w...,Funny Money,False,5.4,39,R

In [7]:
## Dropping Placeholder rows with id=0
df = df.loc[ df['imdb_id']!='0']
df

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,False,NaN,NaN,100000,[],NaN,30356,tt0144280,en,Whispers from a Shallow Grave,"When a beautiful photo model disappears, polic...",0.714,/cjRqAh3u2Z0MBx9GtT1k7Z9732w.jpg,[],"[{'iso_3166_1': 'US', 'name': 'United States o...",1997-01-01,0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Whispers from a Shallow Grave,False,2.0,2,NaN
1,False,/1hGrzTajJ5JC6VfPzrUj8Gj5t5k.jpg,NaN,0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",NaN,58520,tt0197633,en,Live Freaky Die Freaky,It is the year 3069 and the Earth has been rob...,1.957,/qt7IVXzGca5wS68WZ6PBWHkTcMz.jpg,[],"[{'iso_3166_1': 'US', 'name': 'United States o...",2006-01-31,0,75.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Live Freaky Die Freaky,False,3.8,8,NR
2,False,/qKiOZMJH9Riqlk2SkUOgSMZHHJu.jpg,NaN,0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 35, '...",NaN,459563,tt0204250,en,Death of a Saleswoman,Top-ranking RubberTubber saleswoman Agatha J. ...,0.676,/tIfllOpkhZl5sbqZd1X77iiaJDj.jpg,"[{'id': 90905, 'logo_path': None, 'name': 'Gir...","[{'iso_3166_1': 'US', 'name': 'United States o...",2006-09-18,0,77.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,6 housewives. 1 dead body. A trunk full of pla...,Death of a Saleswoman,False,3.0,1,NaN
3,False,/z8FzomPxfCb2nv827VWLSI6oYiB.jpg,NaN,76000000,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",http://www.universalstudiosentertainment.com/c...,9693,tt0206634,en,Children of Men,"In 2027, in a chaotic world in which humans ca...",18.314,/k9IAS4TehZFcKi4HVByxZNPfqex.jpg,"[{'id': 33, 'logo_path': '/8lvHyhjr8oUKOOy2dKX...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",2006-09-22,70595464,109.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The future's a thing of the past.,Children of Men,False,7.6,5794,R
4,False,/4W53mm2nvOtiOuPNW2oiBm9pmUZ.jpg,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",NaN,9925,tt0244521,en,Funny Money,"Henry Perkins, a mild-mannered accountant, acc...",4.218,/oG3jWUZiDqqrdk3oKwPEkuwoN89.jpg,"[{'id': 110622, 'logo_path': None, 'name': 'FW...","[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'is...",2006-01-01,0,98.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Henry Perkins accidentally trades briefcases w...,Funny Money,False,5.4,39,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1512,False,/8AiCju3Guhxiq9Sznj8f7aJZofS.jpg,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",http://icarusfilms.com/if-cli,387250,tt7098636,fr,"Le Clitoris, ce cher inconnu",Topics about female sexuality are growing in p...,1.400,/aWHfVqrTlEkTjUmyiMWYjyd9gsW.jpg,"[{'id': 92745, 'logo_path': None, 'name': 'Cat...","[{'iso_3166_1': 'FR', 'name': 'France'}]",2004-01-16,0,60.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,NaN,The Clitoris: Forbidden Pleasure,False,8.0,2,NaN
1513,False,NaN,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,640680,tt7246872,en,Tokyo Bedoone Tavaghof,NaN,0.600,/764JbpPIGeApSheIj0v5WvAUpuk.jpg,[],"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",2003-09-10,0,98.0,"[{'english_name': 'Persian', 'iso_639_1': 'fa'...",Released,NaN,"Tokyo, Non-Stop",False,0.0,0,NaN
1514,False,NaN,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",https://www.michaelraeburn.com/site/web/mr/zim...,515137,tt7637550,en,Zimbabwe Countdown,"Once touted as Zimbabwe's saviour, Robert Muga...",0.711,/vnpAEhWBDhf7I6m4XZqj3Vf27px.jpg,"[{'id': 94, 'logo_path': '/huC7HqorvUThGIrENrb...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",2003-08-28,0,55.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Zimbabwe Countdown,False,5.0,4,NaN
1515,False,NaN,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,713681,tt9414698,en,The Hot Shoe,A Documentary Movie About Card Counting In The...,0.600,NaN,[],[],2003-01-01,0,96.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,The Hot Shoe,False,0.0,0,NaN
1516,False,NaN,NaN,400,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",NaN,253999,tt9641790,en,Clearwater,A woman has been abducted by the Clearwater ki...,2.744,/nHGb9mGbU4Z1hjysxcmrKJO6BbH.jpg,"[{'id': 174685, 'logo_path': None, 'name': 'Li...",[],2003-06-10,0,60.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Clearwater,False,0.0,0,NaN

# Transform

## basics

- normalize and separate genre
- "original_title" (we will use the primary title column instead)
- "isAdult" ("Adult" will show up in the genres so this is redundant information).
- "titleType" (every row will be a movie).
- "genres" and other variants of genre (genre is now represented in the 2 new tables described above.

In [8]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116404 entries, 0 to 116403
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          116404 non-null  object
 1   titleType       116404 non-null  object
 2   primaryTitle    116404 non-null  object
 3   originalTitle   116404 non-null  object
 4   isAdult         116404 non-null  int64
 5   startYear       116404 non-null  float64
 6   runtimeMinutes  116404 non-null  int64
 7   genres          116404 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 7.1+ MB

In [9]:
cols_to_drop = ['originalTitle','isAdult','titleType'] #endYear not req'd
basics = basics.drop(columns=cols_to_drop)
basics

,tconst,primaryTitle,startYear,runtimeMinutes,genres
0,tt0035423,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance"
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,70,Drama
2,tt0067683,Workers '71: Nothing About Us Without Us,2006.0,47,Documentary
3,tt0069049,The Other Side of the Wind,2018.0,122,Drama
4,tt0088751,The Naked Monster,2005.0,100,"Comedy,Horror,Sci-Fi"
...,...,...,...,...,...
116399,tt9915436,Vida em Movimento,2019.0,70,Documentary
116400,tt9915872,The Last White Witch,2019.0,97,"Comedy,Drama,Fantasy"
116401,tt9916170,The Rehearsal,2019.0,51,Drama
116402,tt9916190,Safeguard,2020.0,95,"Action,Adventure,Thriller"
116403,tt9916362,Coven,2020.0,92,"Drama,History"

### Normalizing Genre

In [10]:
## Fill Missing Genres 
## Create a new column with the single-string genres as a list of strings
basics['genres_split'] = basics['genres'].str.split(',')
basics

,tconst,primaryTitle,startYear,runtimeMinutes,genres,genres_split
0,tt0035423,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,70,Drama,[Drama]
2,tt0067683,Workers '71: Nothing About Us Without Us,2006.0,47,Documentary,[Documentary]
3,tt0069049,The Other Side of the Wind,2018.0,122,Drama,[Drama]
4,tt0088751,The Naked Monster,2005.0,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
...,...,...,...,...,...,...
116399,tt9915436,Vida em Movimento,2019.0,70,Documentary,[Documentary]
116400,tt9915872,The Last White Witch,2019.0,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
116401,tt9916170,The Rehearsal,2019.0,51,Drama,[Drama]
116402,tt9916190,Safeguard,2020.0,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
116403,tt9916362,Coven,2020.0,92,"Drama,History","[Drama, History]"

In [11]:
## Explode the dataframe to make each genre into a separate row
exploded_genres = basics.explode('genres_split')
exploded_genres

,tconst,primaryTitle,startYear,runtimeMinutes,genres,genres_split
0,tt0035423,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,70,Drama,Drama
2,tt0067683,Workers '71: Nothing About Us Without Us,2006.0,47,Documentary,Documentary
...,...,...,...,...,...,...
116402,tt9916190,Safeguard,2020.0,95,"Action,Adventure,Thriller",Action
116402,tt9916190,Safeguard,2020.0,95,"Action,Adventure,Thriller",Adventure
116402,tt9916190,Safeguard,2020.0,95,"Action,Adventure,Thriller",Thriller
116403,tt9916362,Coven,2020.0,92,"Drama,History",Drama
116403,tt9916362,Coven,2020.0,92,"Drama,History",History

#### Create title_genres Table - title_genres
tconst: GenreID

In [12]:
## Save just tconst and genres_split as new df
title_genres = exploded_genres[['tconst','genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0067683  Documentary

#### Replacing Text Genres with Integer IDs

In [13]:
## Getting unique list of genres
unique_genres = sorted(title_genres['genres_split'].unique())
unique_genres

['Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western']

In [14]:
## Make a dictionary with list of unique genres as the key and the new iteger id as vlaues
genre_id_map = dict(zip(unique_genres, range(len(unique_genres))))
genre_id_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Documentary': 7,
 'Drama': 8,
 'Family': 9,
 'Fantasy': 10,
 'Game-Show': 11,
 'History': 12,
 'Horror': 13,
 'Music': 14,
 'Musical': 15,
 'Mystery': 16,
 'News': 17,
 'Reality-TV': 18,
 'Romance': 19,
 'Sci-Fi': 20,
 'Short': 21,
 'Sport': 22,
 'Talk-Show': 23,
 'Thriller': 24,
 'War': 25,
 'Western': 26}

#### Replacing Values in title_genres Table with Genre ID

In [15]:
## Use .map or .replace with our genre_id_map dictionary
title_genres['Genre_ID'] = title_genres['genres_split'].replace(genre_id_map)

## Drop the original genre column
title_genres.drop(columns=['genres_split'],inplace=True)
title_genres

           tconst  Genre_ID
0       tt0035423         5
0       tt0035423        10
0       tt0035423        19
1       tt0062336         8
2       tt0067683         7
...           ...       ...
116402  tt9916190         0
116402  tt9916190         2
116402  tt9916190        24
116403  tt9916362         8
116403  tt9916362        12

[207423 rows x 2 columns]

#### Create `genres` table
- Genre : Genre_ID

In [16]:
## Manaully make dataframe with named cols from the .keyd and .values
genre_lookup = pd.DataFrame({'Genre_Name': genre_id_map.keys(),
                             'Genre_ID':genre_id_map.values()})
genre_lookup.head()

  Genre_Name  Genre_ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [17]:
## Dropping original genre columns 
basics = basics.drop(columns=['genres','genres_split'])
basics

,tconst,primaryTitle,startYear,runtimeMinutes
0,tt0035423,Kate & Leopold,2001.0,118
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,70
2,tt0067683,Workers '71: Nothing About Us Without Us,2006.0,47
3,tt0069049,The Other Side of the Wind,2018.0,122
4,tt0088751,The Naked Monster,2005.0,100
...,...,...,...,...
116399,tt9915436,Vida em Movimento,2019.0,70
116400,tt9915872,The Last White Witch,2019.0,97
116401,tt9916170,The Rehearsal,2019.0,51
116402,tt9916190,Safeguard,2020.0,95
116403,tt9916362,Coven,2020.0,92

# LOAD

## Connect to MySQL

In [18]:
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
from sqlalchemy.types import *

In [19]:
## Getting mysql server password
import json
with open('/Users/codingdojo/.secret/mysql.json') as f:
    login = json.load(f)

login.keys()

dict_keys(['user', 'password'])

In [20]:
## create a new movies database
# connect_str = f"mysql+pymysql://{login['user']}:{login['password']}@localhost/movies"
connect_str = f"mysql+pymysql://{login['user']}:{login['password']}@localhost/movies-viz"

In [21]:
## Check if database exists, if not, create it
if database_exists(connect_str) == False:
    print("Creating the database.")
    create_database(connect_str)
else:
    print('The database already exists.')

Creating the database.

In [22]:
## create engine
engine = create_engine(connect_str)

In [23]:
## Test your connection by checking for any tables that exist (there should be none at this point)
q = """SHOW TABLES;"""
tables = pd.read_sql(q, engine)
tables

Empty DataFrame
Columns: [Tables_in_movies-viz]
Index: []

### Saving`title_basics` to db

In [24]:
## saving text length
key_len = basics['tconst'].map(len).max()
title_len = basics['primaryTitle'].map(len).max()
key_len, title_len

(10, 242)

In [25]:
basics_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Float(),
    'runtimeMinutes':Integer()
    }
basics_schema

{'tconst': String(length=11),
 'primaryTitle': Text(length=243),
 'startYear': Float(),
 'runtimeMinutes': Integer()}

In [26]:
basics

,tconst,primaryTitle,startYear,runtimeMinutes
0,tt0035423,Kate & Leopold,2001.0,118
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,70
2,tt0067683,Workers '71: Nothing About Us Without Us,2006.0,47
3,tt0069049,The Other Side of the Wind,2018.0,122
4,tt0088751,The Naked Monster,2005.0,100
...,...,...,...,...
116399,tt9915436,Vida em Movimento,2019.0,70
116400,tt9915872,The Last White Witch,2019.0,97
116401,tt9916170,The Rehearsal,2019.0,51
116402,tt9916190,Safeguard,2020.0,95
116403,tt9916362,Coven,2020.0,92

In [27]:
## Saving basics as table with schema,
basics.to_sql('title_basics',engine,dtype=basics_schema,if_exists='replace',index=False)

## setting title basics as the primary key
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

In [28]:
## query first rows 
q = """SELECT * FROM title_basics LIMIT 5"""
pd.read_sql(q,engine)

,tconst,primaryTitle,startYear,runtimeMinutes
0,tt0035423,Kate & Leopold,2001.0,118
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,70
2,tt0067683,Workers '71: Nothing About Us Without Us,2006.0,47
3,tt0069049,The Other Side of the Wind,2018.0,122
4,tt0088751,The Naked Monster,2005.0,100

### Saving Genre Tables

#### Saving genre_lookup

In [29]:
genre_lookup.head()

  Genre_Name  Genre_ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [30]:
## Primary key is Genre_ID
genre_lookup.to_sql('genres',engine,index=False, if_exists='replace')

engine.execute('ALTER TABLE genres ADD PRIMARY KEY (`Genre_ID`);')

In [31]:
q = """SELECT * FROM genres LIMIT 5"""
pd.read_sql(q,engine)

  Genre_Name  Genre_ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

#### Saving `title_genres` table

In [32]:
## NO PRIMARY KEY - DUPLCIATE VALUES
title_genres.to_sql('title_genres',engine,index=False,
                    if_exists='replace' )

# engine.execute('ALTER TABLE title_genres ADD PRIMARY KEY (`tconst`);')

207423

In [33]:
q = """SELECT * FROM title_genres LIMIT 5"""
pd.read_sql(q,engine)

      tconst  Genre_ID
0  tt0035423         5
1  tt0035423        10
2  tt0035423        19
3  tt0062336         8
4  tt0067683         7

### Saving `title_ratings`

In [34]:
ratings_schema = {'tconst':String(key_len+1), 
                 'averageRating':Float(),
                 'numVotes':Integer()}#get_schema(ratings)
ratings_schema

{'tconst': String(length=11), 'averageRating': Float(), 'numVotes': Integer()}

In [35]:
ratings.to_sql('title_ratings',engine,if_exists='replace',index=False,
              dtype=ratings_schema)
engine.execute("ALTER TABLE title_ratings ADD PRIMARY KEY (`tconst`)")

In [36]:
q = """SELECT * FROM title_ratings LIMIT 5"""
pd.read_sql(q,engine)

      tconst  averageRating  numVotes
0  tt0035423            6.4     85245
1  tt0062336            6.4       163
2  tt0067683            6.4        90
3  tt0069049            6.7      7435
4  tt0088751            5.2       327

### Saving TMDB API Data

In [37]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78397 entries, 0 to 1516
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  78397 non-null  bool
 1   backdrop_path          43654 non-null  object
 2   belongs_to_collection  3943 non-null   object
 3   budget                 78397 non-null  int64
 4   genres                 78397 non-null  object
 5   homepage               21370 non-null  object
 6   id                     78397 non-null  int64
 7   imdb_id                78397 non-null  object
 8   original_language      78397 non-null  object
 9   original_title         78397 non-null  object
 10  overview               76518 non-null  object
 11  popularity             78397 non-null  float64
 12  poster_path            68663 non-null  object
 13  production_companies   78397 non-null  object
 14  production_countries   78397 non-null  object
 15  release_date           76442 non-null  object
 16  revenue                78397 non-null  int64
 17  runtime                76952 non-null  float64
 18  spoken_languages       78397 non-null  object
 19  status                 78397 non-null  object
 20  tagline                26818 non-null  object
 21  title                  78397 non-null  object
 22  video                  78397 non-null  bool
 23  vote_average           78397 non-null  float64
 24  vote_count             78397 non-null  int64
 25  certification          16961 non-null  object
dtypes: bool(2), float64(3), int64(4), object(17)
memory usage: 15.1+ MB

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,False,NaN,NaN,100000,[],NaN,30356,tt0144280,en,Whispers from a Shallow Grave,"When a beautiful photo model disappears, polic...",0.714,/cjRqAh3u2Z0MBx9GtT1k7Z9732w.jpg,[],"[{'iso_3166_1': 'US', 'name': 'United States o...",1997-01-01,0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Whispers from a Shallow Grave,False,2.0,2,NaN
1,False,/1hGrzTajJ5JC6VfPzrUj8Gj5t5k.jpg,NaN,0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",NaN,58520,tt0197633,en,Live Freaky Die Freaky,It is the year 3069 and the Earth has been rob...,1.957,/qt7IVXzGca5wS68WZ6PBWHkTcMz.jpg,[],"[{'iso_3166_1': 'US', 'name': 'United States o...",2006-01-31,0,75.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Live Freaky Die Freaky,False,3.8,8,NR
2,False,/qKiOZMJH9Riqlk2SkUOgSMZHHJu.jpg,NaN,0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 35, '...",NaN,459563,tt0204250,en,Death of a Saleswoman,Top-ranking RubberTubber saleswoman Agatha J. ...,0.676,/tIfllOpkhZl5sbqZd1X77iiaJDj.jpg,"[{'id': 90905, 'logo_path': None, 'name': 'Gir...","[{'iso_3166_1': 'US', 'name': 'United States o...",2006-09-18,0,77.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,6 housewives. 1 dead body. A trunk full of pla...,Death of a Saleswoman,False,3.0,1,NaN
3,False,/z8FzomPxfCb2nv827VWLSI6oYiB.jpg,NaN,76000000,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",http://www.universalstudiosentertainment.com/c...,9693,tt0206634,en,Children of Men,"In 2027, in a chaotic world in which humans ca...",18.314,/k9IAS4TehZFcKi4HVByxZNPfqex.jpg,"[{'id': 33, 'logo_path': '/8lvHyhjr8oUKOOy2dKX...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",2006-09-22,70595464,109.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The future's a thing of the past.,Children of Men,False,7.6,5794,R
4,False,/4W53mm2nvOtiOuPNW2oiBm9pmUZ.jpg,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",NaN,9925,tt0244521,en,Funny Money,"Henry Perkins, a mild-mannered accountant, acc...",4.218,/oG3jWUZiDqqrdk3oKwPEkuwoN89.jpg,"[{'id': 110622, 'logo_path': None, 'name': 'FW...","[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'is...",2006-01-01,0,98.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Henry Perkins accidentally trades briefcases w...,Funny Money,False,5.4,39,R

### Instructor Note: Saving 2 versions of API data: MVP and AAB

In [38]:
## Keeping some columns
cols_to_keep = ['imdb_id','budget','revenue','certification',
                'original_language']
mvp = df[cols_to_keep]
mvp

        imdb_id    budget   revenue certification original_language
0     tt0144280    100000         0           NaN                en
1     tt0197633         0         0            NR                en
2     tt0204250         0         0           NaN                en
3     tt0206634  76000000  70595464             R                en
4     tt0244521         0         0             R                en
...         ...       ...       ...           ...               ...
1512  tt7098636         0         0           NaN                fr
1513  tt7246872         0         0           NaN                en
1514  tt7637550         0         0           NaN                en
1515  tt9414698         0         0           NaN                en
1516  tt9641790       400         0           NaN                en

[78397 rows x 5 columns]

In [39]:
mvp.isna().sum()

imdb_id                  0
budget                   0
revenue                  0
certification        61436
original_language        0
dtype: int64

In [40]:
mvp

        imdb_id    budget   revenue certification original_language
0     tt0144280    100000         0           NaN                en
1     tt0197633         0         0            NR                en
2     tt0204250         0         0           NaN                en
3     tt0206634  76000000  70595464             R                en
4     tt0244521         0         0             R                en
...         ...       ...       ...           ...               ...
1512  tt7098636         0         0           NaN                fr
1513  tt7246872         0         0           NaN                en
1514  tt7637550         0         0           NaN                en
1515  tt9414698         0         0           NaN                en
1516  tt9641790       400         0           NaN                en

[78397 rows x 5 columns]

In [41]:
## saving text length
key_len = mvp['imdb_id'].map(len).max()
cert_len = mvp['certification'].fillna('').map(len).max()
lang_len = mvp['original_language'].map(len).max()

key_len, cert_len,lang_len

(10, 31, 2)

In [42]:
## saving schema
api_data_schema = {'imdb_id':String(key_len+1), 
                 'budget':Float(),
                   'revenue':Float(),
                 'certification':Text(cert_len+1),
                  'original_language':Text(lang_len+1)}
api_data_schema

{'imdb_id': String(length=11),
 'budget': Float(),
 'revenue': Float(),
 'certification': Text(length=32),
 'original_language': Text(length=3)}

In [43]:
# saving mvp version
## Primary key is Genre_ID
mvp.to_sql('tmdb_data_mvp',engine, index=False,dtype=api_data_schema, if_exists='replace')

engine.execute('ALTER TABLE tmdb_data_mvp ADD PRIMARY KEY (`imdb_id`);')

In [44]:
q = """SELECT * FROM tmdb_data_mvp LIMIT 5"""
pd.read_sql(q,engine)

     imdb_id      budget     revenue certification original_language
0  tt0035423  48000000.0  76019000.0         PG-13                en
1  tt0062336         0.0         0.0          None                es
2  tt0069049  12000000.0         0.0             R                en
3  tt0088751    350000.0         0.0          None                en
4  tt0093119   7500000.0         0.0          None                en

In [45]:
df.head()

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,False,NaN,NaN,100000,[],NaN,30356,tt0144280,en,Whispers from a Shallow Grave,"When a beautiful photo model disappears, polic...",0.714,/cjRqAh3u2Z0MBx9GtT1k7Z9732w.jpg,[],"[{'iso_3166_1': 'US', 'name': 'United States o...",1997-01-01,0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Whispers from a Shallow Grave,False,2.0,2,NaN
1,False,/1hGrzTajJ5JC6VfPzrUj8Gj5t5k.jpg,NaN,0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",NaN,58520,tt0197633,en,Live Freaky Die Freaky,It is the year 3069 and the Earth has been rob...,1.957,/qt7IVXzGca5wS68WZ6PBWHkTcMz.jpg,[],"[{'iso_3166_1': 'US', 'name': 'United States o...",2006-01-31,0,75.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Live Freaky Die Freaky,False,3.8,8,NR
2,False,/qKiOZMJH9Riqlk2SkUOgSMZHHJu.jpg,NaN,0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 35, '...",NaN,459563,tt0204250,en,Death of a Saleswoman,Top-ranking RubberTubber saleswoman Agatha J. ...,0.676,/tIfllOpkhZl5sbqZd1X77iiaJDj.jpg,"[{'id': 90905, 'logo_path': None, 'name': 'Gir...","[{'iso_3166_1': 'US', 'name': 'United States o...",2006-09-18,0,77.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,6 housewives. 1 dead body. A trunk full of pla...,Death of a Saleswoman,False,3.0,1,NaN
3,False,/z8FzomPxfCb2nv827VWLSI6oYiB.jpg,NaN,76000000,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",http://www.universalstudiosentertainment.com/c...,9693,tt0206634,en,Children of Men,"In 2027, in a chaotic world in which humans ca...",18.314,/k9IAS4TehZFcKi4HVByxZNPfqex.jpg,"[{'id': 33, 'logo_path': '/8lvHyhjr8oUKOOy2dKX...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",2006-09-22,70595464,109.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The future's a thing of the past.,Children of Men,False,7.6,5794,R
4,False,/4W53mm2nvOtiOuPNW2oiBm9pmUZ.jpg,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",NaN,9925,tt0244521,en,Funny Money,"Henry Perkins, a mild-mannered accountant, acc...",4.218,/oG3jWUZiDqqrdk3oKwPEkuwoN89.jpg,"[{'id': 110622, 'logo_path': None, 'name': 'FW...","[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'is...",2006-01-01,0,98.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Henry Perkins accidentally trades briefcases w...,Funny Money,False,5.4,39,R

In [46]:
# # saving AAB version
# ## Primary key is Genre_ID
# df.to_sql('tmdb_data_aab',engine, index=False,dtype=api_data_schema, if_exists='replace')
# engine.execute('ALTER TABLE tmdb_data_aab ADD PRIMARY KEY (`imdb_id`);')

### Troubleshoot: Error with AAB Version

- Error when trying to save AAB version. 
- Built a recursive feature addition loop to try adding more and more columns before running command that error'd.
- Used function to programmatically make new schema each time (thinking the schema was part of the issue - but it may have been fine).

In [47]:
def get_schema(table,debug=False):
    ## save pandas dtypes in list, make empty dict
    dtypes = table.dtypes
    schema = {}
    
    # for each column
    for col in dtypes.index:
        ## print info if in debug mode
        if debug:
            print(f"{col} = {dtypes.loc[col]}")

        ## if its a string column (object)
        if dtypes.loc[col]=='object':
            
            ## Fill null values and make sure whole column is str
            data = table[col].fillna('').astype(str)
            
            ## get len first
            len_str = data.map(len).max()
            
            ## if the string is shorter than 21845 use String
            # (forget how i knew it was max size)
            if len_str < 21845:
                schema[col] = String( len_str + 1)
                
            ## If longer use Text
            else:
                schema[col] = Text(len_str+1)
        
        # if float make Float
        elif dtypes.loc[col] == 'float':
            schema[col] = Float()

        ## if int make Integer
        elif dtypes.loc[col] == 'int':
            schema[col] = Integer()
            
        ## if bool make Boolean
        elif dtypes.loc[col] == 'bool':
            schema[col] = Boolean()
            
    return schema

## Bookmark: Need to Fix Title/Original Title

- Asian characters seem to be the issue. Need to identify and remove rows with incompatible characters.

In [48]:
len(df)

78397

In [49]:
# identifying incomaptible rows
bad_titles = (df['original_title']!=df['title']) &\
                (df['original_language']!='en') &\
               ~df['spoken_languages'].str.contains('english',case=False)
df[bad_titles]

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
565,False,/fU0dGkCASuB4CJ9ZHNnFYLAecuu.jpg,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,59267,tt0456481,hi,à¤œà¤¾à¤¨ à¤ à¤®à¤¨,Agastya a NASA scientist comes in search of hi...,2.212,/qBCQOQOZyeJKljODcGZbzr80REn.jpg,"[{'id': 60536, 'logo_path': '/chMIfiURhqvr6eWC...","[{'iso_3166_1': 'IN', 'name': 'India'}]",2006-10-20,5100000,171.0,[],Released,Are you ready to fall in love..... again?,Jaan-E-Mann,False,5.3,26,NaN
596,False,NaN,NaN,0,"[{'id': 18, 'name': 'Drama'}]",http://www.nachbeben.ch,121742,tt0459116,de,Nachbeben,Investment banker HP has allegedly ridden out ...,0.622,/55favwTon8oqtVezPN8SAALDvLf.jpg,"[{'id': 28950, 'logo_path': '/8RuUUKhPiJbICV03...","[{'iso_3166_1': 'CH', 'name': 'Switzerland'}]",2006-03-02,0,96.0,[],Released,NaN,Going Private,False,6.0,1,NaN
817,False,/ryqbSDlFxLsdRZD52OHCJCUCMKq.jpg,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,50543,tt0474297,fr,La planÃ¨te blanche,"The White Planet or in French, La PlanÃ¨te Blan...",1.441,/6ca68j8E3whkfAFhxEetaAVtaDa.jpg,[],"[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",2006-03-22,0,86.0,[],Released,NaN,The White Planet,False,6.0,12,NaN
932,False,/gm5WpO1MD91Jd9MyIzKz2ztlgpS.jpg,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,115093,tt0482178,es,Cabeza de perro,A drama about a boy who lives in a bubble beca...,1.512,/9uMk8VPBGOPGqkYZtaS5R8LDziY.jpg,[],"[{'iso_3166_1': 'ES', 'name': 'Spain'}]",2006-08-25,0,91.0,[],Released,NaN,Doghead,False,5.5,10,NaN
1251,False,NaN,NaN,0,[],NaN,193449,tt0762124,ar,ÙˆÙŠØ¬Ø§,Two strangers try to solve a mystery that revo...,1.048,/p6XQM4HmJuxpRreiXOWACG5iUVU.jpg,[],[],2006-01-06,0,0.0,[],Released,NaN,Ouija,False,4.7,6,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1427,False,NaN,NaN,0,[],NaN,645446,tt12224088,cn,ç—›æ„›,"When women love to be crazy, their consequence...",0.600,/nbfuswLedQWYMjCJh632MA67Hew.jpg,[],[],2003-01-01,0,92.0,[],Released,NaN,Hurt,False,0.0,0,NaN
1428,False,/trBTaWhFmjfJWxbNQAoV8QQ4i7c.jpg,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",NaN,801752,tt12229484,cn,å·çªºæ¨‚ç„¡çª®ä¹‹ç´‹èº«æ€ªå®¢,The story of the tattoo artist Ching and the p...,0.600,/uadBupfZdYYoMmALMvYHhtbk40C.jpg,[],[],2003-01-01,0,102.0,[],Released,NaN,The Peeper's Story: The Tattoo Master,False,0.0,0,NaN
1462,False,/e566QSXmxtn08Tsk4kBCfaCztln.jpg,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,65198,tt2137417,cn,æ¥µæ¨‚é…·åˆ‘,Young Ngai planned to castrate himself to ente...,1.868,/246pVlZO5z5kVw4IGXL5Po73FNe.jpg,[],"[{'iso_3166_1': 'HK', 'name': 'Hong Kong'}]",2003-01-01,0,94.0,[],Released,NaN,Tortured Sex Goddess of Ming Dynasty,False,2.0,1,NaN
1464,False,NaN,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,193267,tt2162737,ko,ìš°ë¦¬ì˜ í–¥ê¸°,Although an initial match-making attempt betwe...,0.600,NaN,"[{'id': 45494, 'logo_path': None, 'name': 'Kor...","[{'iso_3166_1': 'KP', 'name': 'North Korea'}]",2003-01-30,0,81.0,[],Released,Our Fragrance,Our Fragrance,False,5.5,4,NaN
1486,False,NaN,NaN,0,[],NaN,519725,tt3075984,si,Sakman Maluwa,"The calm, dull marriage of a young woman and h...",0.600,/nUmVdMtmIRsiEsvKGOlp2harhkI.jpg,[],[],2003-11-30,0,110.0,[],Released,NaN,The Garden,False,0.0,0,NaN

In [50]:
df = df[~bad_titles]
df

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,False,NaN,NaN,100000,[],NaN,30356,tt0144280,en,Whispers from a Shallow Grave,"When a beautiful photo model disappears, polic...",0.714,/cjRqAh3u2Z0MBx9GtT1k7Z9732w.jpg,[],"[{'iso_3166_1': 'US', 'name': 'United States o...",1997-01-01,0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Whispers from a Shallow Grave,False,2.0,2,NaN
1,False,/1hGrzTajJ5JC6VfPzrUj8Gj5t5k.jpg,NaN,0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",NaN,58520,tt0197633,en,Live Freaky Die Freaky,It is the year 3069 and the Earth has been rob...,1.957,/qt7IVXzGca5wS68WZ6PBWHkTcMz.jpg,[],"[{'iso_3166_1': 'US', 'name': 'United States o...",2006-01-31,0,75.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Live Freaky Die Freaky,False,3.8,8,NR
2,False,/qKiOZMJH9Riqlk2SkUOgSMZHHJu.jpg,NaN,0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 35, '...",NaN,459563,tt0204250,en,Death of a Saleswoman,Top-ranking RubberTubber saleswoman Agatha J. ...,0.676,/tIfllOpkhZl5sbqZd1X77iiaJDj.jpg,"[{'id': 90905, 'logo_path': None, 'name': 'Gir...","[{'iso_3166_1': 'US', 'name': 'United States o...",2006-09-18,0,77.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,6 housewives. 1 dead body. A trunk full of pla...,Death of a Saleswoman,False,3.0,1,NaN
3,False,/z8FzomPxfCb2nv827VWLSI6oYiB.jpg,NaN,76000000,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",http://www.universalstudiosentertainment.com/c...,9693,tt0206634,en,Children of Men,"In 2027, in a chaotic world in which humans ca...",18.314,/k9IAS4TehZFcKi4HVByxZNPfqex.jpg,"[{'id': 33, 'logo_path': '/8lvHyhjr8oUKOOy2dKX...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",2006-09-22,70595464,109.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The future's a thing of the past.,Children of Men,False,7.6,5794,R
4,False,/4W53mm2nvOtiOuPNW2oiBm9pmUZ.jpg,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",NaN,9925,tt0244521,en,Funny Money,"Henry Perkins, a mild-mannered accountant, acc...",4.218,/oG3jWUZiDqqrdk3oKwPEkuwoN89.jpg,"[{'id': 110622, 'logo_path': None, 'name': 'FW...","[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'is...",2006-01-01,0,98.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Henry Perkins accidentally trades briefcases w...,Funny Money,False,5.4,39,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1512,False,/8AiCju3Guhxiq9Sznj8f7aJZofS.jpg,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",http://icarusfilms.com/if-cli,387250,tt7098636,fr,"Le Clitoris, ce cher inconnu",Topics about female sexuality are growing in p...,1.400,/aWHfVqrTlEkTjUmyiMWYjyd9gsW.jpg,"[{'id': 92745, 'logo_path': None, 'name': 'Cat...","[{'iso_3166_1': 'FR', 'name': 'France'}]",2004-01-16,0,60.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,NaN,The Clitoris: Forbidden Pleasure,False,8.0,2,NaN
1513,False,NaN,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,640680,tt7246872,en,Tokyo Bedoone Tavaghof,NaN,0.600,/764JbpPIGeApSheIj0v5WvAUpuk.jpg,[],"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",2003-09-10,0,98.0,"[{'english_name': 'Persian', 'iso_639_1': 'fa'...",Released,NaN,"Tokyo, Non-Stop",False,0.0,0,NaN
1514,False,NaN,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",https://www.michaelraeburn.com/site/web/mr/zim...,515137,tt7637550,en,Zimbabwe Countdown,"Once touted as Zimbabwe's saviour, Robert Muga...",0.711,/vnpAEhWBDhf7I6m4XZqj3Vf27px.jpg,"[{'id': 94, 'logo_path': '/huC7HqorvUThGIrENrb...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",2003-08-28,0,55.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Zimbabwe Countdown,False,5.0,4,NaN
1515,False,NaN,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,713681,tt9414698,en,The Hot Shoe,A Documentary Movie About Card Counting In The...,0.600,NaN,[],[],2003-01-01,0,96.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,The Hot Shoe,False,0.0,0,NaN
1516,False,NaN,NaN,400,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",NaN,253999,tt9641790,en,Clearwater,A woman has been abducted by the Clearwater ki...,2.744,/nHGb9mGbU4Z1hjysxcmrKJO6BbH.jpg,"[{'id': 174685, 'logo_path': None, 'name': 'Li...",[],2003-06-10,0,60.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Clearwater,False,0.0,0,NaN

In [51]:
df['revenue'] = df['revenue'].astype(float)

/var/folders/rf/vw4r41jd7vd95x1w0dth7v9h0000gp/T/ipykernel_79435/2047350285.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['revenue'] = df['revenue'].astype(float)

In [52]:
df = df.reset_index(drop=True)
df

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,False,NaN,NaN,100000,[],NaN,30356,tt0144280,en,Whispers from a Shallow Grave,"When a beautiful photo model disappears, polic...",0.714,/cjRqAh3u2Z0MBx9GtT1k7Z9732w.jpg,[],"[{'iso_3166_1': 'US', 'name': 'United States o...",1997-01-01,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Whispers from a Shallow Grave,False,2.0,2,NaN
1,False,/1hGrzTajJ5JC6VfPzrUj8Gj5t5k.jpg,NaN,0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",NaN,58520,tt0197633,en,Live Freaky Die Freaky,It is the year 3069 and the Earth has been rob...,1.957,/qt7IVXzGca5wS68WZ6PBWHkTcMz.jpg,[],"[{'iso_3166_1': 'US', 'name': 'United States o...",2006-01-31,0.0,75.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Live Freaky Die Freaky,False,3.8,8,NR
2,False,/qKiOZMJH9Riqlk2SkUOgSMZHHJu.jpg,NaN,0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 35, '...",NaN,459563,tt0204250,en,Death of a Saleswoman,Top-ranking RubberTubber saleswoman Agatha J. ...,0.676,/tIfllOpkhZl5sbqZd1X77iiaJDj.jpg,"[{'id': 90905, 'logo_path': None, 'name': 'Gir...","[{'iso_3166_1': 'US', 'name': 'United States o...",2006-09-18,0.0,77.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,6 housewives. 1 dead body. A trunk full of pla...,Death of a Saleswoman,False,3.0,1,NaN
3,False,/z8FzomPxfCb2nv827VWLSI6oYiB.jpg,NaN,76000000,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",http://www.universalstudiosentertainment.com/c...,9693,tt0206634,en,Children of Men,"In 2027, in a chaotic world in which humans ca...",18.314,/k9IAS4TehZFcKi4HVByxZNPfqex.jpg,"[{'id': 33, 'logo_path': '/8lvHyhjr8oUKOOy2dKX...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",2006-09-22,70595464.0,109.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The future's a thing of the past.,Children of Men,False,7.6,5794,R
4,False,/4W53mm2nvOtiOuPNW2oiBm9pmUZ.jpg,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",NaN,9925,tt0244521,en,Funny Money,"Henry Perkins, a mild-mannered accountant, acc...",4.218,/oG3jWUZiDqqrdk3oKwPEkuwoN89.jpg,"[{'id': 110622, 'logo_path': None, 'name': 'FW...","[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'is...",2006-01-01,0.0,98.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Henry Perkins accidentally trades briefcases w...,Funny Money,False,5.4,39,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77775,False,/8AiCju3Guhxiq9Sznj8f7aJZofS.jpg,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",http://icarusfilms.com/if-cli,387250,tt7098636,fr,"Le Clitoris, ce cher inconnu",Topics about female sexuality are growing in p...,1.400,/aWHfVqrTlEkTjUmyiMWYjyd9gsW.jpg,"[{'id': 92745, 'logo_path': None, 'name': 'Cat...","[{'iso_3166_1': 'FR', 'name': 'France'}]",2004-01-16,0.0,60.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,NaN,The Clitoris: Forbidden Pleasure,False,8.0,2,NaN
77776,False,NaN,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,640680,tt7246872,en,Tokyo Bedoone Tavaghof,NaN,0.600,/764JbpPIGeApSheIj0v5WvAUpuk.jpg,[],"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",2003-09-10,0.0,98.0,"[{'english_name': 'Persian', 'iso_639_1': 'fa'...",Released,NaN,"Tokyo, Non-Stop",False,0.0,0,NaN
77777,False,NaN,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",https://www.michaelraeburn.com/site/web/mr/zim...,515137,tt7637550,en,Zimbabwe Countdown,"Once touted as Zimbabwe's saviour, Robert Muga...",0.711,/vnpAEhWBDhf7I6m4XZqj3Vf27px.jpg,"[{'id': 94, 'logo_path': '/huC7HqorvUThGIrENrb...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",2003-08-28,0.0,55.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Zimbabwe Countdown,False,5.0,4,NaN
77778,False,NaN,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,713681,tt9414698,en,The Hot Shoe,A Documentary Movie About Card Counting In The...,0.600,NaN,[],[],2003-01-01,0.0,96.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,The Hot Shoe,False,0.0,0,NaN
77779,False,NaN,NaN,400,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",NaN,253999,tt9641790,en,Clearwater,A woman has been abducted by the Clearwater ki...,2.744,/nHGb9mGbU4Z1hjysxcmrKJO6BbH.jpg,"[{'id': 174685, 'logo_path': None, 'name': 'Li...",[],2003-06-10,0.0,60.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Clearwater,False,0.0,0,NaN

In [53]:
schema = get_schema(df)
schema['title'] = Text()
schema['original_title'] = Text()

In [54]:
schema

{'adult': Boolean(),
 'backdrop_path': String(length=33),
 'belongs_to_collection': String(length=185),
 'budget': Integer(),
 'genres': String(length=257),
 'homepage': String(length=487),
 'id': Integer(),
 'imdb_id': String(length=11),
 'original_language': String(length=3),
 'original_title': Text(),
 'overview': String(length=1001),
 'popularity': Float(),
 'poster_path': String(length=33),
 'production_companies': String(length=2942),
 'production_countries': String(length=1129),
 'release_date': String(length=11),
 'revenue': Float(),
 'runtime': Float(),
 'spoken_languages': String(length=943),
 'status': String(length=16),
 'tagline': String(length=268),
 'title': Text(),
 'video': Boolean(),
 'vote_average': Float(),
 'vote_count': Integer(),
 'certification': String(length=32)}

### Dropping Titles, since these should be joinable with title basics table anyway

In [55]:
df_for_db = df.drop(columns=['title','original_title'])
df_for_db

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,video,vote_average,vote_count,certification
0,False,NaN,NaN,100000,[],NaN,30356,tt0144280,en,"When a beautiful photo model disappears, polic...",0.714,/cjRqAh3u2Z0MBx9GtT1k7Z9732w.jpg,[],"[{'iso_3166_1': 'US', 'name': 'United States o...",1997-01-01,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,False,2.0,2,NaN
1,False,/1hGrzTajJ5JC6VfPzrUj8Gj5t5k.jpg,NaN,0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",NaN,58520,tt0197633,en,It is the year 3069 and the Earth has been rob...,1.957,/qt7IVXzGca5wS68WZ6PBWHkTcMz.jpg,[],"[{'iso_3166_1': 'US', 'name': 'United States o...",2006-01-31,0.0,75.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,False,3.8,8,NR
2,False,/qKiOZMJH9Riqlk2SkUOgSMZHHJu.jpg,NaN,0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 35, '...",NaN,459563,tt0204250,en,Top-ranking RubberTubber saleswoman Agatha J. ...,0.676,/tIfllOpkhZl5sbqZd1X77iiaJDj.jpg,"[{'id': 90905, 'logo_path': None, 'name': 'Gir...","[{'iso_3166_1': 'US', 'name': 'United States o...",2006-09-18,0.0,77.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,6 housewives. 1 dead body. A trunk full of pla...,False,3.0,1,NaN
3,False,/z8FzomPxfCb2nv827VWLSI6oYiB.jpg,NaN,76000000,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",http://www.universalstudiosentertainment.com/c...,9693,tt0206634,en,"In 2027, in a chaotic world in which humans ca...",18.314,/k9IAS4TehZFcKi4HVByxZNPfqex.jpg,"[{'id': 33, 'logo_path': '/8lvHyhjr8oUKOOy2dKX...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",2006-09-22,70595464.0,109.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The future's a thing of the past.,False,7.6,5794,R
4,False,/4W53mm2nvOtiOuPNW2oiBm9pmUZ.jpg,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",NaN,9925,tt0244521,en,"Henry Perkins, a mild-mannered accountant, acc...",4.218,/oG3jWUZiDqqrdk3oKwPEkuwoN89.jpg,"[{'id': 110622, 'logo_path': None, 'name': 'FW...","[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'is...",2006-01-01,0.0,98.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Henry Perkins accidentally trades briefcases w...,False,5.4,39,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77775,False,/8AiCju3Guhxiq9Sznj8f7aJZofS.jpg,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",http://icarusfilms.com/if-cli,387250,tt7098636,fr,Topics about female sexuality are growing in p...,1.400,/aWHfVqrTlEkTjUmyiMWYjyd9gsW.jpg,"[{'id': 92745, 'logo_path': None, 'name': 'Cat...","[{'iso_3166_1': 'FR', 'name': 'France'}]",2004-01-16,0.0,60.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,NaN,False,8.0,2,NaN
77776,False,NaN,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,640680,tt7246872,en,NaN,0.600,/764JbpPIGeApSheIj0v5WvAUpuk.jpg,[],"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",2003-09-10,0.0,98.0,"[{'english_name': 'Persian', 'iso_639_1': 'fa'...",Released,NaN,False,0.0,0,NaN
77777,False,NaN,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",https://www.michaelraeburn.com/site/web/mr/zim...,515137,tt7637550,en,"Once touted as Zimbabwe's saviour, Robert Muga...",0.711,/vnpAEhWBDhf7I6m4XZqj3Vf27px.jpg,"[{'id': 94, 'logo_path': '/huC7HqorvUThGIrENrb...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",2003-08-28,0.0,55.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,False,5.0,4,NaN
77778,False,NaN,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,713681,tt9414698,en,A Documentary Movie About Card Counting In The...,0.600,NaN,[],[],2003-01-01,0.0,96.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,False,0.0,0,NaN
77779,False,NaN,NaN,400,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",NaN,253999,tt9641790,en,A woman has been abducted by the Clearwater ki...,2.744,/nHGb9mGbU4Z1hjysxcmrKJO6BbH.jpg,"[{'id': 174685, 'logo_path': None, 'name': 'Li...",[],2003-06-10,0.0,60.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,False,0.0,0,NaN

In [56]:
df_for_db.to_sql('tmdb_data_aab',engine, index=False, 
                            if_exists='replace',dtype=get_schema(df_for_db))
#                           method='multi')

77780

In [57]:
# ## loop through adding more columns and remove what errors
# good_cols = [*cols_to_keep]
# bad_cols = []
# all_cols = df.drop(columns=cols_to_keep).columns

# for col in all_cols:
#     print(f"- Adding {col}")
#     try: 
#         cols_to_try = [*good_cols, col]
#         df_filtered = df[ cols_to_try]
#         schema= get_schema(df_filtered)
#         ## Primary key is Genre_ID
#         df_filtered.to_sql('tmdb_data_aab',engine, index=False,
#                             if_exists='replace',#dtype=schema,
#                           method='multi')
        
#         # append col name to good_cols if no error
#         good_cols.append(col)
#     except Exception as e:
#         print("   - ERROR")
#         bad_cols.append({col:e})
# bad_cols

In [58]:
engine.execute('ALTER TABLE tmdb_data_aab ADD PRIMARY KEY (`imdb_id`);')

In [59]:
q = """SELECT * FROM tmdb_data_aab LIMIT 5"""
pd.read_sql(q,engine)

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,video,vote_average,vote_count,certification
0,0,/ab5yL8zgRotrICzGbEl10z24N71.jpg,None,48000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",None,11232,tt0035423,en,When her scientist ex-boyfriend discovers a po...,9.183,/mUvikzKJJSg9khrVdxK8kg3TMHA.jpg,"[{'id': 85, 'logo_path': None, 'name': 'Konrad...","[{'iso_3166_1': 'US', 'name': 'United States o...",2001-12-25,76019000.0,118.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,If they lived in the same century they'd be pe...,0,6.3,1112,PG-13
1,0,/fw5tsNib4QZBEw18xmebpVe3WZ8.jpg,None,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",http://poetastros.com/el-tango-del-viudo/,602986,tt0062336,es,"A man whose wife has committed suicide, appea...",1.400,/yzbqP9woGq2wGUJh0DzVXlr3Th7.jpg,"[{'id': 96241, 'logo_path': None, 'name': 'Poe...","[{'iso_3166_1': 'CL', 'name': 'Chile'}]",2020-02-21,0.0,63.0,"[{'english_name': 'Spanish', 'iso_639_1': 'es'...",Released,None,0,5.3,3,None
2,0,/zjG95oDnBcFKMPgBEmmuNVOMC90.jpg,None,12000000,"[{'id': 18, 'name': 'Drama'}]",https://www.netflix.com/title/80085566,299782,tt0069049,en,"Surrounded by fans and skeptics, grizzled dire...",5.155,/kFky1paYEfHxfCYByEc9g7gn6Zk.jpg,"[{'id': 36547, 'logo_path': None, 'name': 'SAC...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",2018-11-02,0.0,122.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,40 years in the making,0,6.7,155,R
3,0,None,None,350000,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",None,29163,tt0088751,en,Using soundtracks and extensive footage from m...,2.190,/aYbeNeNID1wLBp9l214w8CU00xd.jpg,[],"[{'iso_3166_1': 'US', 'name': 'United States o...",2005-04-22,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,None,0,3.4,5,None
4,0,/2rGYlO0x9HFHyDmTlICGUj51AIJ.jpg,"{'id': 528034, 'name': 'Grizzly Collection', '...",7500000,"[{'id': 27, 'name': 'Horror'}, {'id': 10402, '...",None,38258,tt0093119,en,"All hell breaks loose when a giant grizzly, re...",9.226,/dKHoRIicgHLoNPKiRJpRPHd96Gx.jpg,"[{'id': 53282, 'logo_path': None, 'name': 'Har...","[{'iso_3166_1': 'US', 'name': 'United States o...",2020-02-17,0.0,74.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The Stage Is Set... And The Dinner Is Served.,0,4.4,14,None

# Final Tables Check

In [60]:
## Test your connection by checking for any tables that exist (there should be none at this point)
q = """SHOW TABLES;"""
pd.read_sql(q, engine)

  Tables_in_movies-viz
0               genres
1         title_basics
2         title_genres
3        title_ratings
4        tmdb_data_aab
5        tmdb_data_mvp